<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="" sizes="32x32">
    <link rel="icon" href="" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="">
    @*<link href="~/Content/kendo/2013.1.319/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.1.319/kendo.default.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />*@
    <link href="~/Content/kendo/2019.3.917/kendo.common.min.css" rel="stylesheet" />
    @*<link href="~/Content/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" />*@
    <link href="~/Content/kendo/2019.3.917/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


    @*<script src="~/Scripts/kendo/jszip.js"></script>*@


    <script src="~/Scripts/jszip.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <link href="~/Content/Select2OverWrite.css" rel="stylesheet" />
    @*<script src="/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <script src="/Scripts/toastr.min.js"></script>
    <link href="/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard"></i><span>DASHBOARD</span></a>
                    </li>
                    <li class="sub-menu @(ViewBag.Admin)">
                        <a href="javascript:void(0);"><i class="fa fa-user"></i><span>ADMIN</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>

                            <li>
                                <a class="@(ViewBag.Register)" href="@Url.Action("Register", "Account")">NEW USER REGISTRATION</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.Project)" href="@Url.Action("Index", "Project")">PROJECTS</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.Agent)" href="@Url.Action("Index", "Agent")">AGENTS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu @(ViewBag.Booking)">
                        <a href="javascript:void(0);"><i class="fa fa-ticket"></i><span>BOOKING</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>

                            <li>
                                <a class="@(ViewBag.NewBooking)" href="@Url.Action("New", "Booking")">NEW BOOKING</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MakePayment)" href="@Url.Action("MakePayment", "Booking")">PAYMENTS</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.MakeAgentPayment)" href="@Url.Action("MakeAgentPayment", "Booking")">AGENT PAYMENTS</a>
                            </li>

                        </ul>
                    </li>
                    <li class="sub-menu @(ViewBag.Reports)">
                        <a href="javascript:void(0);"><i class="fa fa-table"></i><span>REPORTS</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>
                            <li>
                                <a class="@(ViewBag.PeriodWiseBookingReport)" href="@Url.Action("PeriodWiseBookingReport", "Report")">PERIOD WISE BOOKING</a>
                            </li>

                            <li>
                                <a class="@(ViewBag.BookingInfoReport)" href="@Url.Action("BookingInfoReport", "Report")">BOOKING INFORMATION</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.PaymentInfoReport)" href="@Url.Action("PaymentInfoReport", "Report")">PAYMENT INFORMATION</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.AgentWiseBookingReport)" href="@Url.Action("AgentWiseBookingReport", "Report")">AGENT WISE BOOKING</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.BhkWiseBookingReport)" href="@Url.Action("BhkWiseBookingReport", "Report")">BHK WISE BOOKING</a>
                            </li>
                            <li>
                                <a class="@(ViewBag.FacingWiseBookingReport)" href="@Url.Action("FacingWiseBookingReport", "Report")">FACING WISE BOOKING</a>
                            </li>
                        </ul>
                    </li>
                    @*<li class="sub-menu">
                            <a href="javascript:void(0);"><i class="fa fa fa-tasks"></i><span>Forms</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                <li>
                                    <a href="forms-components.html">Components</a>
                                </li>
                                <li>
                                    <a href="forms-validation.html">Validation</a>
                                </li>
                                <li>
                                    <a href="forms-mask.html">Mask</a>
                                </li>
                                <li>
                                    <a href="forms-wizard.html">Wizard</a>
                                </li>
                                <li>
                                    <a href="forms-multiple-file.html">Multiple File Upload</a>
                                </li>
                                <li>
                                    <a href="forms-wysiwyg.html">WYSIWYG Editor</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu active">
                            <a href="javascript:void(0);"><i class="fa fa-envelope"></i><span>Mail</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                <li class="active">
                                    <a href="mail-inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="mail-compose.html">Compose Mail</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:void(0);"><i class="fa fa-bar-chart-o"></i><span>Charts</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                <li>
                                    <a href="charts-chartjs.html">Chartjs</a>
                                </li>
                                <li>
                                    <a href="charts-morris.html">Morris</a>
                                </li>
                                <li><a href="charts-c3.html">C3 Charts</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:void(0);"><i class="fa fa-map-marker"></i><span>Maps</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                <li>
                                    <a href="map-google.html">Google Map</a>
                                </li>
                                <li>
                                    <a href="map-vector.html">Vector Map</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="typography.html"><i class="fa fa-text-height"></i><span>Typography</span></a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:void(0);"><i class="fa fa-file"></i><span>Pages</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                <li>
                                    <a href="pages-blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="pages-login.html">Login</a>
                                </li>
                                <li>
                                    <a href="pages-sign-up.html">Sign Up</a>
                                </li>
                                <li>
                                    <a href="pages-calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="pages-timeline.html">Timeline</a>
                                </li>
                            </ul>
                        </li>*@
                </ul>



                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="leftside-navigation" class="nano">
                            <ul class="logout">
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        </div>
                    }
                }
                else
                {
                    <div id="leftside-navigation" class="nano">
                        <ul class="logout">
                            @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                }
            </div>
        </aside>
    }
    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    body {
        font-family: 'Open Sans', sans-serif;
        background-image: url('../../Content/Images/blur-blurred-background-colors-754082.jpg');
        padding: 0;
        margin: 0;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .sidebar-toggle {
        margin-left: -240px;
    }

    .sidebar {
        width: 240px;
        height: 100%;
        background: black;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 100;
    }

        .sidebar #leftside-navigation ul,
        .sidebar #leftside-navigation ul ul {
            margin: -2px 0 0;
            padding: 0;
        }

            .sidebar #leftside-navigation ul li {
                list-style-type: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            }

                .sidebar #leftside-navigation ul li.active > a {
                    color: gold !important;
                    /*border-color : #ffffff !important;
                    outline-color :#ffffff !important;*/
                }

                .sidebar #leftside-navigation ul li.active ul {
                    display: block;
                }

                .sidebar #leftside-navigation ul li a {
                    color: #aeb2b7;
                    text-decoration: none;
                    display: block;
                    padding: 18px 0 18px 25px;
                    font-size: 12px;
                    outline: 0;
                    -webkit-transition: all 200ms ease-in;
                    -moz-transition: all 200ms ease-in;
                    -o-transition: all 200ms ease-in;
                    -ms-transition: all 200ms ease-in;
                    transition: all 200ms ease-in;
                }

                    .sidebar #leftside-navigation ul li a:hover {
                        color: #1abc9c;
                    }

                    .sidebar #leftside-navigation ul li a span {
                        display: inline-block;
                    }

                    .sidebar #leftside-navigation ul li a i {
                        width: 20px;
                    }

                        .sidebar #leftside-navigation ul li a i .fa-angle-left,
                        .sidebar #leftside-navigation ul li a i .fa-angle-right {
                            padding-top: 3px;
                            
                        }

            .sidebar #leftside-navigation ul ul {
                display: none;
            }

                .sidebar #leftside-navigation ul ul li {
                    background: #23313f;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    border-bottom: none;
                }

                    .sidebar #leftside-navigation ul ul li a {
                        font-size: 12px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        color: #aeb2b7;
                    }


    .nano > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    a.active {
        background-color: white;
        color: black !important;
        font-weight: bold;
    }
    /**/
</style>

<script>
    $("#leftside-navigation .sub-menu > a").click(function (e) {
        $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown()
    });

    //    $(".nano-content sub-menu").click(function(e) {
    //   $(".nano-content sub-menu").removeClass("active");
    //   $(e.target).addClass("active");
    //});

    //$('.nano-content li').click(function(e) {
    //    e.preventDefault()

    //    $that = $(this);

    //    $that.parent().find('sub-menu').removeClass('active');
    //    $that.addClass('active');
    //});


    $('.sub-menu').on('click', 'li', function () {
        $('li.sub-menu active').removeClass('active');
        $(this).addClass('sub-menu active');
    });
    //$(function(){
    //console.log('ready');

    //$('.nano-content li').click(function(e) {
    //    e.preventDefault()

    //    $that = $(this);

    //    $that.parent().find('li').removeClass('active');
    //    $that.addClass('active');
    //});
</script>