<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" src="~/Content/Images/SASBLACKLOGO.ico" href="~/Content/Images/SASBLACKLOGO.ico" sizes="32x32">
    <link rel="icon" src="~/Content/Images/SASBLACKLOGO.ico" href="~/Content/Images/SASBLACKLOGO.ico" sizes="192x192">
    
    <link rel="apple-touch-icon-precomposed" href="">
    @*<link href="~/Content/kendo/2013.1.319/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/kendo/2013.1.319/kendo.default.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />*@
    <link href="~/Content/kendo/2019.3.917/kendo.common.min.css" rel="stylesheet" />
    @*<link href="~/Content/kendo/2014.1.318/kendo.default.min.css" rel="stylesheet" />*@
    <link href="~/Content/kendo/2019.3.917/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link href="~/Content/font-awesome.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script src="~/Scripts/kendo/jszip.js"></script>*@
    <script src="~/Scripts/jszip.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <link href="~/Content/Select2OverWrite.css" rel="stylesheet" />
    @*<script src="/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <script src="/Scripts/toastr.min.js"></script>
    <link href="/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    @*<script data-ad-client="ca-pub-2839852821589260" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*@
</head>
<body>
    <nav style="background-color:black;margin-bottom:0;padding-top:0;width:240px" class="navbar">
        <a style="padding-top:0" class="navbar-brand" href="https://sasinfra.in/">
            <img style="align-content:center" src="~/Content/Images/SASBLACKLOGO.png" height="40" alt="">

            <span style="font-family: kilsonburg;font-size:15px;color:white">  SRI ADITYA SQUARES</span>
        </a>
    </nav>
    @*<nav style="color:black;margin-bottom:0" class="navbar">
            <img style="height:50px;position:fixed;top:0;left:0" src="~/Content/Images/SASLOGO.jpg" />
        <span>SRI ADITYA SQUARES</span>
        </nav>*@
    @if (Request.IsAuthenticated)
    {

        <button type="button" class="btn btn-primary mobname" data-toggle="collapse" data-target="#demo"><i class="fa fa-bars"></i></button>
        <aside class="sidebar mobname collapse" id="demo">
            <div id="leftside-navigation" class="nano">

                <ul class="nano-content">
                    @*<li>
            <img style="height:0px;object-fit: contain;" src="~/Content/Images/SASFullLogo1.png" />
        </li>*@
                    <li class="sub-menu @(ViewBag.Dashboard)">
                        <a href="javascript:void(0);"><i class="fa fa-bar-chart"></i><span>DASHBOARD</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>
                            @if (!this.User.IsInRole("Customer"))
                            {
                                <li>
                                    <a class="@(ViewBag.BookingDashboard)" href="@Url.Action("Index", "Dashboard")">BOOKING STATUS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.BookingStatistics)" href="@Url.Action("BookingStatistics", "Dashboard")">BOOKING STATISTICS</a>
                                </li>
                            }
                            @if (this.User.IsInRole("Admin") || this.User.IsInRole("Agent"))
                            {
                                <li>
                                    <a class="@(ViewBag.AgentDashboard)" href="@Url.Action("Agents", "Dashboard")">AGENT HIERARCHY</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.AgentGraphicalHierarchy)" href="@Url.Action("AgentGraphicalHierarchy", "Dashboard")">AGENT GRAPHICAL HIERARCHY</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.MyCommission)" href="@Url.Action("FlatWiseAgentCommission", "Dashboard")">MY COMMISSIONS</a>
                                </li>

                            }
                            @if (this.User.IsInRole("Admin") || this.User.IsInRole("Customer") || this.User.IsInRole("Client"))
                            {
                                <li>
                                    <a class="@(ViewBag.FlatLifeCycle)" href="@Url.Action("FlatLifeCycle", "Dashboard")">FLAT LIFECYCLE</a>
                                </li>
                            }
                        </ul>
                    </li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="sub-menu @(ViewBag.Admin)">
                            <a href="javascript:void(0);"><i class="fa fa-user"></i><span>ADMIN</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>

                                <li>
                                    <a class="@(ViewBag.Register)" href="@Url.Action("Register", "Account")">NEW USER REGISTRATION</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Project)" href="@Url.Action("Index", "Project")">PROJECTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Tower)" href="@Url.Action("Index", "Tower")">TOWERS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Flat)" href="@Url.Action("Index", "Flat")">FLATS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Levels)" href="@Url.Action("Index", "Level")">LEVELS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Schemes)" href="@Url.Action("Index", "Scheme")">SCHEMES</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Agent)" href="@Url.Action("Index", "Agent")">AGENTS</a>
                                </li>

                                <li>
                                    <a class="@(ViewBag.AgentProjectLevels)" href="@Url.Action("Index", "AgentProject")">AGENT PROJECT LEVELS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.MakeAgentPayment)" href="@Url.Action("MakeFlatWiseAgentPayments", "Booking")">AGENT PAYMENTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.ClientPayments)" href="@Url.Action("ClientPayments", "Booking")">CLIENT PAYMENTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Cheque)" href="@Url.Action("Cheque", "Booking")">CHEQUE STATUS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.DailyExpense)" href="@Url.Action("DailyExpenses", "Booking")">DAILY EXPENSES</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Users)" href="@Url.Action("Index", "User")">USERS</a>
                                </li>
                                @*<li>
            <a class="@(ViewBag.AgentBalance)" href="@Url.Action("MakeAgentTotalPayment", "Booking")">AGENT PAY BALANCES</a>
        </li>*@
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("DataEntry"))
                    {
                        <li class="sub-menu @(ViewBag.Booking)">
                            <a href="javascript:void(0);"><i class="fa fa-ticket"></i><span>BOOKING</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>

                                <li>
                                    <a class="@(ViewBag.NewBooking)" href="@Url.Action("New", "Booking")">NEW BOOKING</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.CancelBooking)" href="@Url.Action("CancelBooking", "Booking")">CANCEL BOOKING</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.MakePayment)" href="@Url.Action("MakePayment", "Booking")">PAYMENTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Receipt)" href="@Url.Action("Invoice", "Booking")">BOOKING RECEIPTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.PReceipt)" href="@Url.Action("PaymentReceipts", "Booking")">PAYMENT RECEIPTS</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Agent"))
                    {
                        <li class="sub-menu @(ViewBag.Reports)">
                            <a href="javascript:void(0);"><i class="fa fa-table"></i><span>REPORTS</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a class="@(ViewBag.PeriodWiseBookingReport)" href="@Url.Action("PeriodWiseBookingReport", "Report")">PERIOD WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.GraphicalPeriodWiseBookingReport)" href="@Url.Action("GraphicalPeriodWiseBookingReport", "Report")">GRAPHICAL PERIOD WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.BookingInfoReport)" href="@Url.Action("BookingInfoReport", "Report")">BOOKING INFORMATION</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.PaymentInfoReport)" href="@Url.Action("PaymentInfoReport", "Report")">PAYMENT INFORMATION</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.AgentWiseBookingReport)" href="@Url.Action("AgentWiseBookingReport", "Report")">AGENT WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.BhkWiseBookingReport)" href="@Url.Action("BhkWiseBookingReport", "Report")">BHK WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.FacingWiseBookingReport)" href="@Url.Action("FacingWiseBookingReport", "Report")">FACING WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.FlatWiseAgentCommission)" href="@Url.Action("FlatWiseAgentCommission", "Report")">FLAT WISE AGENT COMMISSION</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.FlatPaymentDetails)" href="@Url.Action("FlatPaymentDetails", "Report")">FLAT PAYMENTS</a>
                                    </li>
                                }
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Agent"))
                                {
                                    <li>
                                        <a class="@(ViewBag.AgentBookingStats)" href="@Url.Action("AgentBookingStats", "Dashboard")">AGENT BOOKING STATISTICS</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (!this.User.IsInRole("Client") && !this.User.IsInRole("Customer"))
                    {
                        <li class="sub-menu @(ViewBag.Selfie)">
                            <a href="javascript:void(0);"><i class="fa fa-photo"></i><span>SELFIE</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                @if (!this.User.IsInRole("Customer"))
                                {
                                    <li>
                                        <a class="@(ViewBag.UploadSelfie)" href="@Url.Action("Selfie", "Booking")">UPLOAD SELFIE</a>
                                    </li>
                                }
                                <li>
                                    <a class="@(ViewBag.SelfiePoint)" href="@Url.Action("SelfiePoint", "Booking")">VIEW SELFIE</a>
                                </li>


                            </ul>
                        </li>

                        <li class="sub-menu @(ViewBag.Transport)">
                            <a href="javascript:void(0);"><i class="fa fa-cab"></i><span>TRANSPORT</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("DataEntry") || this.User.Identity.Name == "nsrinivas78@gmail.com")
                                {
                                    <li>
                                        <a class="@(ViewBag.SiteVisitApproval)" href="@Url.Action("SiteVisitApproval", "Booking")">APPROVE/REJECT SITE VISITS</a>
                                    </li>
                                }
                                <li>
                                    <a class="@(ViewBag.SiteVisits)" href="@Url.Action("AddSiteVist", "Booking")">ADD/VIEW SITE VISITS</a>
                                </li>


                            </ul>
                        </li>
                    }
                </ul>



                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="leftside-navigation" class="nano">
                            <ul class="logout">
                                @if (this.User.IsInRole("Agent") || this.User.IsInRole("Customer"))
                                {
                                    <li>
                                        <a  href="@Url.Action("MyProfile", "Account")">MY PROFILE</a>
                                    </li>
                                }
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        </div>
                    }
                }
                else
                {
                    <div id="leftside-navigation" class="nano">
                        <ul class="logout">
                            @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                }
            </div>
        </aside>
        <aside class="sidebar mobname2 ">
            <div id="leftside-navigation" class="nano">

                <ul class="nano-content">
                    @*<li>
                            <img style="height:0px;object-fit: contain;" src="~/Content/Images/SASFullLogo1.png" />
                        </li>*@
                    <li class="sub-menu @(ViewBag.Dashboard)">
                        <a href="javascript:void(0);"><i class="fa fa-bar-chart"></i><span>DASHBOARD</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>

                            @if (!this.User.IsInRole("Customer"))
                            {
                                <li>
                                    <a class="@(ViewBag.BookingDashboard)" href="@Url.Action("Index", "Dashboard")">BOOKING STATUS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.BookingStatistics)" href="@Url.Action("BookingStatistics", "Dashboard")">BOOKING STATISTICS</a>
                                </li>
                            }
                            @if (this.User.IsInRole("Admin") || this.User.IsInRole("Agent"))
                            {
                                <li>
                                    <a class="@(ViewBag.AgentDashboard)" href="@Url.Action("Agents", "Dashboard")">AGENT HIERARCHY</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.AgentGraphicalHierarchy)" href="@Url.Action("AgentGraphicalHierarchy", "Dashboard")">AGENT GRAPHICAL HIERARCHY</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.MyCommission)" href="@Url.Action("FlatWiseAgentCommission", "Dashboard")">MY COMMISSIONS</a>
                                </li>
                            }
                            @if (this.User.IsInRole("Admin") || this.User.IsInRole("Customer") || this.User.IsInRole("Client"))
                            {
                                <li>
                                    <a class="@(ViewBag.FlatLifeCycle)" href="@Url.Action("FlatLifeCycle", "Dashboard")">FLAT LIFECYCLE</a>
                                </li>
                            }
                        </ul>
                    </li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="sub-menu @(ViewBag.Admin)">
                            <a href="javascript:void(0);"><i class="fa fa-user"></i><span>ADMIN</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>

                                <li>
                                    <a class="@(ViewBag.Register)" href="@Url.Action("Register", "Account")">NEW USER REGISTRATION</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Project)" href="@Url.Action("Index", "Project")">PROJECTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Tower)" href="@Url.Action("Index", "Tower")">TOWERS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Flat)" href="@Url.Action("Index", "Flat")">FLATS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Levels)" href="@Url.Action("Index", "Level")">LEVELS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Schemes)" href="@Url.Action("Index", "Scheme")">SCHEMES</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Agent)" href="@Url.Action("Index", "Agent")">AGENTS</a>
                                </li>

                                <li>
                                    <a class="@(ViewBag.AgentProjectLevels)" href="@Url.Action("Index", "AgentProject")">AGENT PROJECT LEVELS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.MakeAgentPayment)" href="@Url.Action("MakeFlatWiseAgentPayments", "Booking")">AGENT PAYMENTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.ClientPayments)" href="@Url.Action("ClientPayments", "Booking")">CLIENT PAYMENTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Cheque)" href="@Url.Action("Cheque", "Booking")">CHEQUE STATUS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.DailyExpense)" href="@Url.Action("DailyExpenses", "Booking")">DAILY EXPENSES</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Users)" href="@Url.Action("Index", "User")">USERS</a>
                                </li>
                                @*<li>
            <a class="@(ViewBag.AgentBalance)" href="@Url.Action("MakeAgentTotalPayment", "Booking")">AGENT PAY BALANCES</a>
        </li>*@
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("DataEntry"))
                    {
                        <li class="sub-menu @(ViewBag.Booking)">
                            <a href="javascript:void(0);"><i class="fa fa-ticket"></i><span>BOOKING</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>

                                <li>
                                    <a class="@(ViewBag.NewBooking)" href="@Url.Action("New", "Booking")">NEW BOOKING</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.CancelBooking)" href="@Url.Action("CancelBooking", "Booking")">CANCEL BOOKING</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.MakePayment)" href="@Url.Action("MakePayment", "Booking")">PAYMENTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.Receipt)" href="@Url.Action("Invoice", "Booking")">BOOKING RECEIPTS</a>
                                </li>
                                <li>
                                    <a class="@(ViewBag.PReceipt)" href="@Url.Action("PaymentReceipts", "Booking")">PAYMENT RECEIPTS</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Agent"))
                    {
                        <li class="sub-menu @(ViewBag.Reports)">
                            <a href="javascript:void(0);"><i class="fa fa-table"></i><span>REPORTS</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a class="@(ViewBag.PeriodWiseBookingReport)" href="@Url.Action("PeriodWiseBookingReport", "Report")">PERIOD WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.GraphicalPeriodWiseBookingReport)" href="@Url.Action("GraphicalPeriodWiseBookingReport", "Report")">GRAPHICAL PERIOD WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.BookingInfoReport)" href="@Url.Action("BookingInfoReport", "Report")">BOOKING INFORMATION</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.PaymentInfoReport)" href="@Url.Action("PaymentInfoReport", "Report")">PAYMENT INFORMATION</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.AgentWiseBookingReport)" href="@Url.Action("AgentWiseBookingReport", "Report")">AGENT WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.BhkWiseBookingReport)" href="@Url.Action("BhkWiseBookingReport", "Report")">BHK WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.FacingWiseBookingReport)" href="@Url.Action("FacingWiseBookingReport", "Report")">FACING WISE BOOKING</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.FlatWiseAgentCommission)" href="@Url.Action("FlatWiseAgentCommission", "Report")">FLAT WISE AGENT COMMISSION</a>
                                    </li>
                                    <li>
                                        <a class="@(ViewBag.FlatPaymentDetails)" href="@Url.Action("FlatPaymentDetails", "Report")">FLAT PAYMENTS</a>
                                    </li>
                                }
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("Agent"))
                                {
                                    <li>
                                        <a class="@(ViewBag.AgentBookingStats)" href="@Url.Action("AgentBookingStats", "Dashboard")">AGENT BOOKING STATISTICS</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (!this.User.IsInRole("Client") && !this.User.IsInRole("Customer"))
                    {
                        <li class="sub-menu @(ViewBag.Selfie)">
                            <a href="javascript:void(0);"><i class="fa fa-photo"></i><span>SELFIE</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                @if (!this.User.IsInRole("Customer"))
                                {
                                    <li>
                                        <a class="@(ViewBag.UploadSelfie)" href="@Url.Action("Selfie", "Booking")">UPLOAD SELFIE</a>
                                    </li>
                                }
                                <li>
                                    <a class="@(ViewBag.SelfiePoint)" href="@Url.Action("SelfiePoint", "Booking")">VIEW SELFIE</a>
                                </li>


                            </ul>
                        </li>

                        <li class="sub-menu @(ViewBag.Transport)">
                            <a href="javascript:void(0);"><i class="fa fa-cab"></i><span>TRANSPORT</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                            <ul>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("DataEntry") || this.User.Identity.Name == "nsrinivas78@gmail.com")
                                {
                                    <li>
                                        <a class="@(ViewBag.SiteVisitApproval)" href="@Url.Action("SiteVisitApproval", "Booking")">APPROVE/REJECT SITE VISITS</a>
                                    </li>
                                }
                                <li>
                                    <a class="@(ViewBag.SiteVisits)" href="@Url.Action("AddSiteVist", "Booking")">ADD/VIEW SITE VISITS</a>
                                </li>


                            </ul>
                        </li>
                    }
                </ul>



                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="leftside-navigation" class="nano">
                            <ul class="logout">
                                @if (this.User.IsInRole("Agent") || this.User.IsInRole("Customer"))
                                {
                                    <li>
                                        <a  href="@Url.Action("MyProfile", "Account")">MY PROFILE</a>
                                    </li>
                                }
                                <li>
                                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                </li>
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                            </ul>
                        </div>
                    }
                }
                else
                {
                    <div id="leftside-navigation" class="nano">
                        <ul class="logout">
                            @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                }
            </div>
        </aside>
    }
    <div class="container body-content">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    #navigation-container1 {
        width: 1200px;
        margin: 0 auto;
        height: 70px;
    }

    .navigation-bar1 {
        background-color: black;
        height: 70px;
        width: 100%;
    }

    .logo {
        float: left;
    }
</style>
<script type="text/javascript">
    zoom()
    function zoom() {
        
        if ($(document).width() > 1600)
            document.body.style.zoom = "90%";
        else
            document.body.style.zoom = "70%";
    }
</script>
<script>
    $("#leftside-navigation .sub-menu > a").click(function (e) {
        $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown()
    });

    $('.sub-menu').on('click', 'li', function () {
        $('li.sub-menu active').removeClass('active');
        $(this).addClass('sub-menu active');
    });
    //document.addEventListener('contextmenu', function (e) {
    //    e.preventDefault();
    //});
    //document.onkeydown = function (e) {
    //    if (event.keyCode == 123) {
    //        return false;
    //    }
    //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
    //        return false;
    //    }
    //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
    //        return false;
    //    }
    //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
    //        return false;
    //    }
    //    if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
    //        return false;
    //    }
    //}

</script>

<style>


    @@font-face {
        font-family: 'kilsonburg';
        src: url('../../Content/kilsonburg.ttf') format('truetype');
    }

    .classname {
        font-family: 'kilsonburg';
    }
</style>