@model LoginApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.Admin = "active";
    ViewBag.Register = "active";
}


<div style="margin-top:0" class="jumbotron">
    <div class="row">
        <div class="col-md-1 col-xs">
            <h3 align="center" style="margin-bottom:2px">REGISTER</h3>
            <div class="specialLine"></div>
        </div>

    </div>
    
    <br />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">


                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 required" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "textbox-control col-md-3 col-xs" })
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 required" })
                    @Html.PasswordFor(m => m.Password, new { @class = "textbox-control col-md-3 col-xs" })
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textbox-control col-md-3 col-xs" })
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2" })
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "textbox-control col-md-3 col-xs" })
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Role, new { @class = "col-md-2 required" })
                    @*//@Html.DropDownListFor(m => m.Role,new List("Admin","Client"));*@

                    <select name="Role" id="Role" class="textbox-control col-md-3 col-xs">
                        <option value="Admin">Admin</option>
                        <option value="Client">Client</option>
                        <option value="Agent">Agent</option>
                        <option value="Customer">Customer</option>
                        <option value="DataEntry">Data Entry</option>
                    </select>

                </div>
                @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>*@
                <br />
                
                <div class="row">
                    <div class="col-md-3 no-pad">
                        <button type="submit" id="submitbtn" value="Register" class="btn btn-default orangebg pull-right"><i class="fa fa-user-plus "></i>register</button>
                    </div>
                </div>
            </div>
            </div>
       
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(window).load(function () {
        var tempdataval = '@TempData["registermessage"]';
        if (tempdataval != '') {
            if (tempdataval == 'Registration Successful')
                toastr.success(tempdataval);
            else {
                toastr.error(tempdataval);
            }
        }

    });
</script>