@model ModelLayer.CustomerEnquiry
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Page</title>
    @*<link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />*@
    @*<link rel="stylesheet" href="slick/slick.css">
        <link rel="stylesheet" href="slick/slick-theme.css">*@
    <link href="~/Content/kendo/2019.3.917/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2019.3.917/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Potfolio/slick.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/templatemo-style.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>

    <script src="~/Content/Potfolio/slick.min.js"></script>
    <script src="~/Content/Potfolio/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Potfolio/jquery.singlePageNav.min.js"></script>
    <script src="~/Content/Potfolio/bootstrap.min.js"></script>

</head>
<body>
    <!-- Hero section -->

    <section id="hero" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
            <div class="container">
                <div class="tm-next">
                    @*<span></span>
                        <a href="#hero" class="navbar-brand">SAS INFRA</a>*@
                    <img style="height:80px;object-fit: contain;" src="~/Content/Images/SASFullLogo1.png" />
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#work">Our Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">Contact Us</a>
                        </li>

                    </ul>

                </div>



            </div>
            <a style="color:#b91524" class="nav-link tm-nav-link" id="WebApp" href="http:www.google.com">Go to Web App <span><i class="fa fa-forward" aria-hidden="true"></i></span></a>
        </nav>
        <div class="tm-next tm-intro-next">
            <a href="#introduction" class="text-center tm-down-arrow-link">
                <i class="fa fa-3x fa-caret-down tm-down-arrow"></i>
            </a>
        </div>
    </section>

    <section id="introduction" class="tm-section-pad-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <img src="~/Content/Images/sasImage.jpeg" alt="Image" class="img-fluid tm-intro-img" />
                </div>
                <div class="col-lg-6">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                        <p class="mb-4 tm-intro-text">
                            SAS,is the one stop destination for all your real estate property needs. We offer END to END services at free of cost and provide upto 90% of bank loans.
                            SAS  has more than 2500+ satisfied customers and the number is growing day by day.
                        </p>
                        <p class="mb-5 tm-intro-text">
                            Before going to buy a property in Guntur / Hyderabad / Bangalore, Please take our advice from more than 500+ highly qualified and experienced corporate Professional employees.
                            If you want to buy any property like gated community FLATS in hyderabad, PLOTS for sale in hyderabad, DUPLEX, gated community VILLAS in hyderabad .
                        </p>
                        <div class="tm-next">
                            <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>

                        </div>


                    </div>
                </div>
            </div>

            <div class="row tm-section-pad-top">
                <div class="col-lg-4">
                    <img style="height:200px;width:400px" src="~/Content/Images/KitchenImg.jpg" />
                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Real Estate Done Right!</h5>
                    <p>
                        Nervous about your property adventure? Don’t be. Whether you're getting ready to buy or sell, in the middle of it, or just looking for some answers, our top-notch skills ensure you get the best experience possible. It’s what we love to do.
                    </p>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <img style="height:200px;width:400px" src="~/Content/Images/cityLights.gif" />

                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Commercial and Residential!</h5>
                    <p>
                        Large or small, condo or mansion, we can find it and get it for you at the price that's right. TICs? Fixer-uppers? Luxury? We can help with all of it. We always have a current list of available properties for you to check out.
                    </p>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <img style="height:200px;width:400px" src="~/Content/Images/home2.jpg" />
                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Rely on Expertise!</h5>
                    <p>
                        If you have questions about affordability, credit, legal matters, or income, trust us to find you what you need fast. We make sure you feel confident and educated every step of the way.
                    </p>
                </div>
            </div>

    </section>

    <section id="work" class="tm-section-pad-top">
        <div class="container tm-container-gallery">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="tm-text-primary tm-section-title mb-4">Our Work</h2>
                    <p class="mx-auto tm-work-description">
                        A revolutionary change in the realty sector, SAS Infra presents, SAS - A one-of-a-kind Promotional,development of various real estate projects that will transform the way the  real estate  perceives business, life and luxury.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mx-auto tm-gallery-container">
                        <div class="grid tm-gallery">

                            @*<a href="~/Content/Images/JewelCounty2.jpg">
                                    <figure class="effect-honey tm-gallery-item">
                                        <img style="height:200px;width:400px" src="~/Content/Images/JewelCounty2.jpg" alt="Image" class="img-fluid">
                                        <figcaption>
                                            <h2><i>Jewel <span style="font-weight:400">County</span></i></h2>
                                        </figcaption>
                                    </figure>
                                </a>
                                <a href="~/Content/Images/Lotus.jpg">
                                    <figure class="effect-honey tm-gallery-item">
                                        <img style="height:200px;width:400px" src="~/Content/Images/Lotus.jpg" alt="Image" class="img-fluid">

                                        <figcaption>
                                            <h2><i>Lotus <span style="font-weight:400">Apt</span></i></h2>
                                        </figcaption>
                                    </figure>
                                </a>*@
                            @*<a href="~/Content/Images/PVR Anmol2.jpg">
                                    <figure class="effect-honey tm-gallery-item">
                                        <img style="height:200px;width:400px" src="~/Content/Images/PVR Anmol2.jpg" alt="Image" class="img-fluid">
                                        <figcaption>
                                            <h2><i>PVR <span style="font-weight:400">Anmol</span></i></h2>
                                        </figcaption>
                                    </figure>
                                </a>*@
                            <a href="~/Content/Images/PVR Anmol.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img style="height:200px;width:400px" src="~/Content/Images/PVR Anmol1.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>PVR <span style="font-weight:400">Anmol</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="~/Content/Images/AlpineVistas.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img style="height:200px;width:400px" src="~/Content/Images/AlpineVistas.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Alpine <span style="font-weight:400">Vistas</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="~/Content/Images/AlpineSqaures.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img style="height:200px;width:400px" src="~/Content/Images/AlpineSqaures.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Alpine <span style="font-weight:400">Squares</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="~/Content/Images/LotusVilla.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img style="height:200px;width:400px" src="~/Content/Images/LotusVilla.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Lotus <span style="font-weight:400">Villas</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>

                            <a href="~/Content/Images/largeSize.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img style="height:200px;width:400px" src="~/Content/Images/largeSize.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>In <span style="font-weight:400">The Woods</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>




                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
        <div class="container tm-container-contact">
            <div class="row">
                <div class="col-12">
                    <h2 style="color:#3496d8" class="mb-4 tm-section-title">Contact Us</h2>
                    <div class="mb-5 tm-underline">
                        <div class="tm-underline-inner"></div>
                    </div>

                    @using (Html.BeginForm("Enquiry", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="padding-top:0px">
                            <div class="col-xs-12 col-sm-12 col-md-12 div">
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                                <form>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Name">Name</label>
                                        </div>
                                        <div class="col-75">
                                            @*<input type="text" id="CustomerName" name="firstname" placeholder="Your name..">*@
                                            @Html.TextBoxFor(m => m.CustomerName, new { type = "text", required = "required", placeholder = "Your name.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Mobile">Mobile</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextBoxFor(m => m.Mobile, new { type = "text", required = "required", placeholder = "Mobile.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Project">Project</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.DropDownListFor(model => model.ProjectID, TempData["ProjectList"] as SelectList, "--Select Project--", new { @class = "text", type = "text" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Enquiry">Enquiry</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextAreaFor(m => m.Enquiry, new { @class = "text", type = "text", required = "required" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" style="background-color:none !important" class="tm-intro-text tm-btn-primary" value="Contact">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    }


                </div>
            </div>
        </div>
        <br />
        <br />
        <footer class="text-center small tm-footer">
            <p style="color:black" class="mb-0">
                Copyright &copy; 2020 SAS INFRA


        </footer>

    </section>
    <div style="display: none;
        position: fixed;
        bottom: 60px;
        right: 40px;
        width:350px;
        background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('/Content/Images/joana.jpg');
        background-size: cover;" id="chat"></div>
    <div class="message-icon">
        <i class="fa fa-comments"></i>
    </div>
    <style>
        .message-icon {
            width: 40px;
            height: 40px;
            background: #4085F6;
            line-height: 40px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            border-radius: 50%;
            position: fixed;
            bottom: 30px;
            right: 30px;
            cursor: pointer;
        }

        .k-quick-replies1 {
            display: block;
            max-width: 100%;
        }

        .k-chat .k-quick-reply1 {
            border-color: #f35800;
            color: #f35800;
            background-color: transparent;
        }

        .k-quick-reply1 {
            border-radius: 100px;
            margin-right: 8px;
            margin-bottom: 4px;
            padding: 8px 12px;
            border-width: 1px;
            border-style: solid;
            line-height: 18px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: inline-block;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            transition-property: color,background-color,border-color;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
        }
    </style>
    <script>

        $(document).ready(function () {

            $('.message-icon').click(function () {
                var x = document.getElementById("chat");
                if (x.style.display === "none") {
                    x.style.display = "flex";
                } else {
                    x.style.display = "none";
                }
            });


        });
    </script>
    <script id="quote-template" type="text/x-kendo-template">
        <div id="quote1" class="#=styles.card# #=styles.cardRich#">
            <div class="#=styles.cardBody#">
                <div>
                    <strong>Project Name:</strong>
                    <span>#:project#</span>
                </div>
                <div>
                    <strong>Location:</strong>
                    <span>#:location#</span>
                </div>
                <div>
                    <strong>Club House:</strong>
                    <span>#:chouse#</span>
                </div>

            </div>
        </div>
    </script>
    <script>
        $(document).ready(function () {
            // Initialize the Chat
            var QUOTE_CARD_TEMPLATE = kendo.template($('#quote-template').html());
            kendo.chat.registerTemplate("quote", QUOTE_CARD_TEMPLATE);
            var chat = $("#chat").kendoChat({
                post: function (args) {
                    agent.postMessage(args);
                }
            }).data("kendoChat");

            // Create a new agent and pass the Chat widget.
            var agent = new ChatAgent(chat);
            var QUOTE_CARD_TEMPLATE = kendo.template(
                '<div class="k-card k-card-type-rich">' +
                '<p><strong>Project Details :</strong></p>' +
                '<div> <img width=250 height=250 style="object-fit: cover;" src="#:projectImageURL#" />  </div>' +
                '<div class="k-card-body quoteCard">' +
                '<div><strong>Project Name:</strong>' +
                '<span>#:project#</span></div>' +

                '<div><strong>Location :</strong>' +
                '<span>#:location#</span></div>' +

                '<div><strong>ClubHouse:</strong>' +
                '<span>#:chouse#</span></div>' +

                //'<hr/><div><strong>Total:</strong>' +
                //'<span>#=kendo.toString(chouse, "0.00")#</span></div>' +
                '</div>' +
                '</div>'
            );
            kendo.chat.registerTemplate("quote", QUOTE_CARD_TEMPLATE);

            var PLAN_CARD_TEMPLATE = kendo.template(

                '<div class="k-quick-replies">' +
                '# for (var i = 0; i < rows.length; i++) { #' +
                //'<div><strong>#:rows[i].text#: </strong>' +
                //'<span>#= kendo.toString(rows[i].value, "0.00") #</span></div>' +
                '<span class="k-quick-reply" data-value="#:rows[i].value#">#:rows[i].title#</span>' +
                '# } #' +
                '</div>'
            );
            kendo.chat.registerTemplate("payment_plan", PLAN_CARD_TEMPLATE);
            // Initially render a hint message to the user.
            agent.chat.renderMessage({
                type: "text",
                text: "Hello! Please choose your preferred location.",
                timestamp: new Date()
            }, {
                name: "Bot",
                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
            });
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/ChatBot/GetProjectLocationsForChatBot",
                success: function (data) {
                    //chat.renderSuggestedActions(data);
                    chat.renderAttachments({
                        attachments: [{
                            contentType: "payment_plan",
                            content: {
                                rows: data
                            }
                        }]
                        //,attachmentLayout: "carousel"
                    }, "Venkat");
                },
                error: function (data) {

                }
            });

        });
    </script>

    <script>

        window.ChatAgent = kendo.Class.extend({
            // Initialize the ChatAgent object.
            init: function (chat) {
                this.chat = chat;

            },
            // Implement the postMessage logic.
            postMessage: function (args) {
                var chat = this.chat;

                if (args.text.includes("Project-")) {
                    var projectName = args.text.split("-").pop();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectSuggestionForChatBot",
                        data: { projectName: projectName },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "Select the below options to know more about :" + projectName,
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            chat.renderSuggestedActions(data);

                            //chat.renderAttachments({
                            //    attachments: [{
                            //        contentType: "quote",
                            //        content: {
                            //            "project": data.ProjectName,
                            //            "location": data.ProjectLocation,
                            //            "chouse": data.ClubHouseCharges,
                            //        }
                            //    }],
                            //    attachmentLayout: "carousel"
                            //},"Venkat");
                        },
                        error: function (data) {
                        }
                    });
                    //chat.renderMessage({
                    //    type: "text",
                    //    text: "Select the below options to know about :" + projectName,
                    //    timestamp: new Date()
                    //}, {
                    //    name: "Bot",
                    //    iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                    //});


                    //var json = [{
                    //    title: "Project Details",
                    //    value: projectName+"-Details"
                    //}, {
                    //    title: "Approvals",
                    //    value: projectName + "-Approvals"
                    //},
                    //{
                    //    title: "Pricing",
                    //    value: projectName + "-Pricing"
                    //    }];

                    //chat.renderSuggestedActions(json);
                    //$.ajax({
                    //    type: "GET",
                    //    contentType: "application/json; charset=utf-8",
                    //    url: "/Booking/GetProjectDetailsForChatBot",
                    //    data: { projectName: projectName },
                    //    success: function (data) {

                    //        //chat.renderAttachments({
                    //        //    attachments: [{
                    //        //        contentType: "heroCard",
                    //        //        content: {
                    //        //            title: "Project :" + data.ProjectName,
                    //        //            subtitle: "Location :" + data.ProjectLocation,
                    //        //            text: "Club House Charges :" + data.ClubHouseCharges,
                    //        //        }
                    //        //    }]
                    //        //}, 'Venkat');
                    //        //chat.renderSuggestedActions(json);
                    //        chat.renderMessage({
                    //            type: "text",
                    //            text: "",
                    //            timestamp: new Date()
                    //        }, {
                    //            name: "Bot",
                    //            iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                    //        });
                    //        chat.renderAttachments({
                    //            attachments: [{
                    //                contentType: "quote",
                    //                content: {
                    //                    "project": data.ProjectName,
                    //                    "location": data.ProjectLocation,
                    //                    "chouse": data.ClubHouseCharges,
                    //                    "projectImageURL" : data.projectImageURL,
                    //                }
                    //            }]
                    //            //,attachmentLayout: "carousel"
                    //        },"Venkat");
                    //    },
                    //    error: function (data) {
                    //    }
                    //});

                }
                else if (args.text.includes("Location-")) {
                    var locationName = args.text.split("-").pop();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectBasedOnLocationsForChatBot",
                        data: { locationName: locationName },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "Please choose your preferred Project.",
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            chat.renderSuggestedActions(data);

                            //chat.renderAttachments({
                            //    attachments: [{
                            //        contentType: "quote",
                            //        content: {
                            //            "project": data.ProjectName,
                            //            "location": data.ProjectLocation,
                            //            "chouse": data.ClubHouseCharges,
                            //        }
                            //    }],
                            //    attachmentLayout: "carousel"
                            //},"Venkat");
                        },
                        error: function (data) {
                        }
                    });
                }
                else if (args.text.includes("-Details")) {
                    var projectName = args.text.split("-");
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectDetailsForChatBot",
                        data: { projectName: projectName[0] },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "",
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            chat.renderAttachments({
                                attachments: [{
                                    contentType: "quote",
                                    content: {
                                        "project": data.ProjectName,
                                        "location": data.ProjectLocation,
                                        "chouse": data.ClubHouseCharges,
                                        "projectImageURL": data.projectImageURL,
                                    }
                                }]
                                //,attachmentLayout: "carousel"
                            }, "Venkat");
                        },
                        error: function (data) {
                        }
                    });
                }
                else if (args.text.includes("-Approvals")) {
                    var projectName = args.text.split("-");
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectDetailsForChatBot",
                        data: { projectName: projectName[0] },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "Yet to implement Approvals Functionality",
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });

                        },
                        error: function (data) {
                        }
                    });
                }
                else if (args.text.includes("-Pricing")) {
                    var projectName = args.text.split("-");
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectDetailsForChatBot",
                        data: { projectName: projectName[0] },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "Yet to implement Pricing Functionality",
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });

                        },
                        error: function (data) {
                        }
                    });
                }


            }
        });
    </script>
    @*<script src="~/Content/Potfolio/jquery-1.9.1.min.js"></script>*@
    

    <script>
        document.getElementById("WebApp").onclick = function () {
            location.href = "https://sasinfra.in/Account/Login";
        };
        function getOffSet() {
            var _offset = 450;
            var windowHeight = window.innerHeight;

            if (windowHeight > 500) {
                _offset = 400;
            }
            if (windowHeight > 680) {
                _offset = 300
            }
            if (windowHeight > 830) {
                _offset = 210;
            }

            return _offset;
        }

        function setParallaxPosition($doc, multiplier, $object) {
            var offset = getOffSet();
            var from_top = $doc.scrollTop(),
                bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
            $object.css({ "background-position": bg_css });
        }


        var background_image_parallax = function ($object, multiplier, forceSet) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            // $object.css({"background-attatchment" : "fixed"});

            if (forceSet) {
                setParallaxPosition($doc, multiplier, $object);
            } else {
                $(window).scroll(function () {
                    setParallaxPosition($doc, multiplier, $object);
                });
            }
        };

        var background_image_parallax_2 = function ($object, multiplier) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            $object.css({ "background-attachment": "fixed" });
            $(window).scroll(function () {
                var firstTop = $object.offset().top,
                    pos = $(window).scrollTop(),
                    yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                var bg_css = 'center ' + yPos + 'px';

                $object.css({ "background-position": bg_css });
            });
        };

        $(function () {
            // Hero Section - Background Parallax
            background_image_parallax($(".tm-parallax"), 0.30, false);
            background_image_parallax_2($("#contact"), 0.80);

            // Handle window resize
            window.addEventListener('resize', function () {
                background_image_parallax($(".tm-parallax"), 0.30, true);
            }, true);

            // Detect window scroll and update navbar
            $(window).scroll(function (e) {
                if ($(document).scrollTop() > 120) {
                    $('.tm-navbar').addClass("scroll");
                } else {
                    $('.tm-navbar').removeClass("scroll");
                }
            });

            // Close mobile menu after click
            $('#tmNav a').on('click', function () {
                $('.navbar-collapse').removeClass('show');
            })

            // Scroll to corresponding section with animation
            $('#tmNav').singlePageNav();

            // Add smooth scrolling to all links
            // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
            $("a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 400, function () {
                        window.location.hash = hash;
                    });
                } // End if
            });

            // Pop up
            $('.tm-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: { enabled: true }
            });

            // Gallery
            $('.tm-gallery').slick({
                dots: true,
                infinite: false,
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });


        getLocation();
        var x = document.getElementById("demo1");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            $("#Latitude").val(position.coords.latitude);
            $("#Longitude").val(position.coords.longitude);
        }

                document.addEventListener('contextmenu', function (e) {
                    e.preventDefault();
                });

                document.onkeydown = function (e) {
                    if (event.keyCode == 123) {
                        return false;
                    }
                    if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                        return false;
                    }
                    if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                        return false;
                    }
                    if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                        return false;
                    }
                    if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                        return false;
                    }
                }

    </script>
</body>
</html>