@model ModelLayer.CustomerEnquiry
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Page</title>
    <link rel="icon" src="~/Content/Images/SASBLACKLOGO.ico" href="~/Content/Images/SASBLACKLOGO.ico" sizes="32x32">
    <link rel="icon" src="~/Content/Images/SASBLACKLOGO.ico" href="~/Content/Images/SASBLACKLOGO.ico" sizes="192x192">
    <link href="~/Content/kendo/2019.3.917/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2019.3.917/kendo.default.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Potfolio/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Potfolio/slick.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/templatemo-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Content/Potfolio/slick.min.js"></script>
    <script src="~/Content/Potfolio/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Potfolio/jquery.singlePageNav.min.js"></script>
    <script src="~/Content/Potfolio/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script data-ad-client="ca-pub-2839852821589260" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <!-- Hero section -->

    <div id="body1">
    </div>


    <section id="hero" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->

        <nav style="padding-bottom:3px;" class="navbar navbar-expand-md tm-navbar" id="tmNav">
            <div class="container">
                <div class="tm-next">
                    <a href="#hero">
                        <img  id="logoImagediv" style="object-fit: contain;" src="~/Content/Images/SASBLACKLOGO.png" />
                        <span style="font-family: kilsonburg;font-size:18px;color:black">SRI ADITYA SQUARES</span>
                    </a>
                    
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">

                            <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#work">Our Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#galleryBox">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">Contact Us</a>
                        </li>
                        <li id="loginPosition" class="nav-item">
                            <a class="nav-link tm-nav-link" id="WebApp" href="">
                                <span class="fa fa-sign-in"> Login</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="tm-next tm-intro-next">
            <a href="#introduction" class="text-center tm-down-arrow-link">
                <i class="fa fa-3x fa-caret-down tm-down-arrow"></i>
            </a>
        </div>

        <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>

        <div  class="carousel-inner">
        <div class="carousel-item">
            <img  src="~/Content/Images/PVRAnmol.jpg" />
        <div class="carousel-caption d-md-block">-->
        @*<h5>PVR Anmol</h5>*@
        <!--</div>
        </div>
        <div id="imageTop" class="carousel-item">
            <img style="object-fit:contain !important;background-size:cover;background-repeat:no-repeat"  src="~/Content/Images/Image_1.jpg" />
        <div class="carousel-caption d-md-block">-->
        @*<h5>Alpine Vistas</h5>*@
        <!--</div>
        </div>
        <div id="imageTop"  class="carousel-item">
            <img  src="~/Content/Images/Image_3.jpg">
        <div class="carousel-caption d-md-block">-->
        @*<h5>Third Image</h5>*@
        <!--</div>
        </div>
        <div id="imageTop" class="carousel-item">
            <img  src="~/Content/Images/Image_4.jpg">
        <div class="carousel-caption d-md-block">-->
        @*<h5>Third Image</h5>*@
        <!--</div>
        </div>
        <div id="imageTop" class="carousel-item">
            <img  src="~/Content/Images/Image_5.jpg">
        <div class="carousel-caption d-md-block">-->
        @*<h5>Third Image</h5>*@
        <!--</div>
        </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <style>
            @@media screen and (min-width: 800px) {

                #imageTop {
                    margin-top: 50px !important;
                    /*margin-bottom: 100px !important*/
                }
            }

            .full-screen {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        </style>
        <script>
            var $item = $('.carousel-item');
            var $wHeight = $(window).height();
            $item.eq(0).addClass('active');
            $item.height($wHeight);
            $item.addClass('full-screen');

            $('.carousel img').each(function () {
                var $src = $(this).attr('src');
                var $color = $(this).attr('data-color');
                $(this).parent().css({
                    'background-image': 'url(' + $src + ')',
                    'background-color': $color,
                    'background-size': 'contain'
                });
                $(this).remove();
            });

            $(window).on('resize', function () {
                $wHeight = $(window).height();
                $item.height($wHeight);
            });

            $('.carousel').carousel({
                interval: 6000,
                pause: "false"
            });
        </script>-->
    </section>

    <section id="introduction" class="tm-section-pad-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <img src="~/Content/Images/sasImage.jpeg" alt="Image" class="img-fluid tm-intro-img" />
                </div>
                <div class="col-lg-6">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                        <p style="font-weight: 500;" class="mb-4 tm-intro-text">
                            SAS,is the one stop destination for all your real estate property needs. We offer END to END services at free of cost and provide upto 90% of bank loans.
                            SAS  has more than 2500+ satisfied customers and the number is growing day by day.
                        </p>
                        <p style="font-weight: 500;" class="mb-5 tm-intro-text">
                            Before going to buy a property in Guntur / Hyderabad / Bangalore, Please take our advice from more than 500+ highly qualified and experienced corporate Professional employees.
                            If you want to buy any property like gated community FLATS in hyderabad, PLOTS for sale in hyderabad, DUPLEX, gated community VILLAS in hyderabad .
                        </p>
                        <div class="tm-next">
                            <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>


                        </div>


                    </div>
                </div>
            </div>

            <div class="row tm-section-pad-top">
                <div class="col-lg-4">
                    <img style="height:200px;width:400px" src="~/Content/Images/interior.jpg" />
                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Real Estate Done Right!</h5>
                    <p style="font-weight: 500;">
                        Nervous about your property adventure? Don’t be.Whether you're getting ready to buy or sell, in the middle of it, or just looking for some answers, our top-notch skills ensure you get the best experience possible.It’s what we love to do.
                    </p>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <img style="height:200px;width:400px;" src="~/Content/Images/cityLights.gif" />

                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Commercial and Residential!</h5>
                    <p style="font-weight: 500;">
                        Large or small, condo or mansion, we can find it and get it for you at the price that's right. TICs? Fixer-uppers? Luxury? We can help with all of it. We always have a current list of available properties for you to check out.
                    </p>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <img style="height:200px;width:400px" src="~/Content/Images/KitchenImg.jpg" />
                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Rely on Expertise!</h5>
                    <p style="font-weight: 500;">
                        If you have questions about affordability, credit, legal matters, or income, trust us to find you what you need fast. We make sure you feel confident and educated every step of the way.
                    </p>
                </div>
            </div>

    </section>

    <section id="work" class="tm-section-pad-top">
        <div class="container tm-container-gallery">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="tm-text-primary tm-section-title mb-4">Our Work</h2>
                    <p style="font-weight:600" class="mx-auto tm-work-description">
                        A revolutionary change in the realty sector, SAS Infra presents, SAS - A one-of-a-kind Promotional,development of various real estate projects that will transform the way the  real estate  perceives business, life and luxury.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div id="example">
                        <div class="k-card-deck-scrollwrap">
                            <button class="k-button k-button-icon k-button-scroll">
                                <span class="k-icon k-i-arrow-chevron-left"></span>
                            </button>
                            <div class="k-card-deck">
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Jewels County.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #0095d8" class="k-card-body">
                                        <h5 class="k-card-title">Jewel's County</h5>
                                        <h6 class="k-card-subtitle">K Peta</h6>

                                    </div>

                                </div>

                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/In the Woods.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #6fbf12" class="k-card-body">
                                        <h5 class="k-card-title">In the Woods</h5>
                                        <h6 class="k-card-subtitle">Narsingi</h6>

                                    </div>

                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Elderado.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #ffca2b" class="k-card-body">
                                        <h5 class="k-card-title">Elderado</h5>
                                        <h6 class="k-card-subtitle">Narsingi</h6>

                                    </div>

                                </div>
                                <div style="background-color:whitesmoke;border:2px;border-color:black" class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Alpine Square.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: rosybrown" class="k-card-body">
                                        <h5 class="k-card-title">Alpine Squares</h5>
                                        <h6 class="k-card-subtitle">Patancheru</h6>

                                    </div>

                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/PVR Anmol.png" alt="undefined" class="k-card-image">
                                    <div style="background-color:#f48e36" class="k-card-body">
                                        <h5 class="k-card-title">PVR Anmol</h5>
                                        <h6 class="k-card-subtitle">Miyapur</h6>

                                    </div>

                                </div>

                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Alpine Vistas.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #139e91" class="k-card-body">
                                        <h5 class="k-card-title">Alpine Vistas</h5>
                                        <h6 class="k-card-subtitle">Rendlagadda</h6>

                                    </div>

                                </div>

                            </div>
                            <button class="k-button k-button-icon k-button-scroll">
                                <span class="k-icon k-i-arrow-chevron-right"></span>
                            </button>
                        </div>



                    </div>
                </div>
            </div>
            <br />
            <style>
                h1 {
                    font-size: 40px;
                    line-height: 0.8em;
                    color: rgba(255,255,255,0.2);
                }



                button:focus,
                input:focus,
                textarea:focus,
                select:focus {
                    outline: none;
                }

                .tabs {
                    display: block;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -moz-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin: 0;
                    overflow: hidden;
                }

                    .tabs [class^="tab"] label,
                    .tabs [class*=" tab"] label {
                        color: #fd264f;
                        cursor: pointer;
                        display: block;
                        font-size: 1.2em;
                        font-weight: 400;
                        line-height: 1em;
                        padding: 2rem 0;
                        text-align: center;
                    }

                    .tabs [class^="tab"] [type="radio"],
                    .tabs [class*=" tab"] [type="radio"] {
                        border-bottom: 1px solid rgba(239, 237, 239, 0.5);
                        cursor: pointer;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        display: block;
                        width: 100%;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }

                        .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
                        .tabs [class*=" tab"] [type="radio"]:hover,
                        .tabs [class*=" tab"] [type="radio"]:focus {
                            border-bottom: 1px solid #fd264f;
                        }

                        .tabs [class^="tab"] [type="radio"]:checked,
                        .tabs [class*=" tab"] [type="radio"]:checked {
                            border-bottom: 2px solid #fd264f;
                        }

                            .tabs [class^="tab"] [type="radio"]:checked + div,
                            .tabs [class*=" tab"] [type="radio"]:checked + div {
                                opacity: 1;
                            }

                        .tabs [class^="tab"] [type="radio"] + div,
                        .tabs [class*=" tab"] [type="radio"] + div {
                            display: block;
                            opacity: 0;
                            padding: 2rem 0;
                            width: 90%;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                        }

                    .tabs .tab-2 {
                        width: 50%;
                    }

                        .tabs .tab-2 [type="radio"] + div {
                            width: 200%;
                            margin-left: 200%;
                        }

                        .tabs .tab-2 [type="radio"]:checked + div {
                            margin-left: 0;
                        }

                        .tabs .tab-2:last-child [type="radio"] + div {
                            margin-left: 100%;
                        }

                        .tabs .tab-2:last-child [type="radio"]:checked + div {
                            margin-left: -100%;
                        }
            </style>
            <div class="tabs">
                <div class="tab-2">
                    <label style="color:#0095d8 !important" for="tab2-1">OUR MISSION</label>
                    <input style="border-bottom:2px solid #0095d8 !important" id="tab2-1" name="tabs-two" class="active" type="radio" checked="checked">
                    <div>

                        <p style="font-weight:500">
                            <b style="color:#0095d8">Mission Statement:</b>
                            <br />
                            <b style="color:#0095d8">•</b> SAS provides our clients with the very best service in all aspects of residential real
                            estate, whether we are handling their sale or purchase personally, or connecting them to
                            one of our associated property experts for particular service.
                            <br />
                            <b style="color:#0095d8">•</b> SAS believes in customers for life, being there for our clients throughout our journey in
                            business, and in life, to ensure when it comes to residential property, they receive the
                            very best this industry has to offer.
                            <br />
                            <b style="color:#0095d8">•</b> We aim to be at the forefront of property marketing, and to provide tailored, innovative
                            solutions that fit our client’s individual property and situations to ensure the best possible
                            outcome is achieved.
                            <br />
                            <b style="color:#0095d8">•</b> To make the Buying and Selling of Real Estate as Cost effective as possible while
                            maintaining the highest level of service.
                            <br />
                            <b style="color:#0095d8">•</b> The best interest of our clients will always come first and we will place the clients
                            concerns ahead of our own in each and every transaction, as we are dedicated to
                            development of long- term client relationships.
                            <br />
                            <b style="color:#0095d8">•</b> To provide accurate and up-to-date information, skilled analysis and sound Real Estate
                            advice.
                            <br />
                            <b style="color:#0095d8">•</b> To continually explore new ideas and technology, to make selling and buying of Real
                            Estate faster, less costly and easier.
                            <br />
                            <b style="color:#0095d8">Motto:</b> We appreciate your Business
                            <br />
                            <hr />
                            <b style="color:#0095d8">Values :</b>
                            <br />
                            <br />
                        <p style="font-weight:500">
                            <b style="color:#0095d8">
                                D
                            </b>- Dedicated – We take positive action.

                            <br />

                            <b style="color:#0095d8">
                                R
                            </b>- Respect – We treat everyone with dignity, value their contributions and help one another succeed.


                            <br />
                            <b style="color:#0095d8">
                                E
                            </b>- Excellence – We aspire to be the best in everything we do, and strive for continuous
                            improvement
                            <br />
                            <b style="color:#0095d8">
                                A
                            </b>- Ambitious – We are eagerly desirous of achieving the DREAMS of our clients and customer’s
                            <br />
                            <b style="color:#0095d8">
                                M
                            </b>- Mission - We are transforming and enriching lives, through our love of Real Estate and
                            construction.
                            <br />
                            <b style="color:#0095d8">
                                S
                            </b>- SAS Meaning – We are Serious, Determent, Responsible, Stable. We maintain the highest
                            level of service to achieve the Highest.
                        </p>
                       
                    </div>
                </div>
                <div class="tab-2">
                    <label style="color:#ea4f4c !important" for="tab2-2">OUR    VISION</label>
                    <input style="border-bottom:2px solid #ea4f4c !important;border-left:2px solid #ea4f4c !important;border-right:2px solid #ea4f4c !important" id="tab2-2" name="tabs-two" type="radio">
                    <div>
                        <p style="font-weight:500">
                            <b style="color:#ea4f4c">Vision Statement :</b>
                            <br />
                            <b style="color:#ea4f4c">
                                F
                            </b>- Fairness in dealing with our clients and colleagues.
                            <br />
                            <b style="color:#ea4f4c">
                                L
                            </b>- Customers for Life
                            succeed.
                            <br />
                            <b style="color:#ea4f4c">
                                I
                            </b>- Integrity & Honesty in dealing with our clients, service providers and Colleagues
                            improvement
                            <br />
                            <b style="color:#ea4f4c">
                                G
                            </b>- Growth – Establishing our Agency as the preferred Real Estate Company in our market Area.
                            <br />
                            <b style="color:#ea4f4c">
                                H
                            </b>- Highest possible standards
                            <br />
                            <b style="color:#ea4f4c">
                                T
                            </b>- Team work – with our SAS Agents and Agents in our network system
                        </p>

                        <p style="font-weight:500">
                            To be the leader in Real Estate and construction in Telangana and Andhra Pradesh, with a renowned reputation of honesty, integrity, impeccable customer service, helping other and serving our Community.
                        </p>
                        <hr />
                        <p style="font-weight:500">
                            <b style="color:#ea4f4c">SAS code of conduct: </b>Keys of Excellence
                            <br />
                            <b style="color:#ea4f4c">•</b> Integrity – Match behaviour with values
                            <br />
                            <b style="color:#ea4f4c">•</b> Failure leads to success – Learn from mistakes
                            <br />
                            <b style="color:#ea4f4c">•</b> Speak with good purpose – Speak Honestly and Kindly
                            <br />
                            <b style="color:#ea4f4c">•</b> This is it – Make the most of every moment
                            <br />
                            <b style="color:#ea4f4c">•</b> Commitment – Make your dreams happen
                            <br />
                            <b style="color:#ea4f4c">•</b> Ownership - Take responsibility for actions
                            <br />
                            <b style="color:#ea4f4c">•</b> Flexibility – Be Willing to do things differently
                            <br />
                            <b style="color:#ea4f4c">•</b> Balance – Live your best life
                        </p>
                        <hr />
                        <p style="font-weight:500">
                            <b style="color:#ea4f4c">Core Values: </b> 
                            <br />
                            All members of SAS subscribe to this simple philosophy…. We serve our clients and community with honesty, integrity, knowledge and imagination to exceed their expectations and create win-win situations for all.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .main .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
            justify-content: center;
            align-items: center;
        }

        .main .card {
            background: #ffffff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
            color: #333333;
            border-radius: 2px;
        }

        .main .card-image {
            background: #ffffff;
            display: block;
            padding-top: 70%;
            position: relative;
            width: 100%;
        }

            .main .card-image img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        @@media only screen and (max-width: 600px) {
            .main .container {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1rem;
            }
        }
    </style>
    <script>
        $('[data-fancybox="gallery"]').fancybox({
            buttons: [
                "slideShow",
                "thumbs",
                "zoom",
                "fullScreen",
                "share",
                "close"
            ],
            loop: false,
            protect: true
        });

    </script>
    <section id="galleryBox" style="padding-bottom:30px;" class="tm-section-pad-top">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>

            </div>
        </div>
        <main class="main">
            <div class="container">

                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Image_1.jpg" data-fancybox="gallery" data-caption="Alpine Vistas">
                            <img src="~/Content/Images/Image_1.jpg" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/AlpineVistasGallery1.PNG" data-fancybox="gallery" data-caption="Alpine Vistas">
                            <img src="~/Content/Images/AlpineVistasGallery1.PNG" alt="Image Gallery">

                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/AlpineVistasGallery2.PNG" data-fancybox="gallery" data-caption="Alpine Vistas">
                            <img src="~/Content/Images/AlpineVistasGallery2.PNG" alt="Image Gallery">

                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Image_2.jpg" data-fancybox="gallery" data-caption="PVR Anmol">
                            <img src="~/Content/Images/Image_2.jpg" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/PVRAnmolGallery1.PNG" data-fancybox="gallery" data-caption="PVR Anmol">
                            <img src="~/Content/Images/PVRAnmolGallery1.PNG" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/PVR Anmol.png" data-fancybox="gallery" data-caption="PVR Anmol">
                            <img src="~/Content/Images/PVR Anmol.png" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Image_5.jpg" data-fancybox="gallery" data-caption="Alpine Squares">
                            <img src="~/Content/Images/Image_5.jpg" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Image_3.jpg" data-fancybox="gallery" data-caption="Alpine Squares">
                            <img src="~/Content/Images/Image_3.jpg" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/AlpineSquareGallery1.PNG" data-fancybox="gallery" data-caption="Alpine Squares">
                            <img src="~/Content/Images/AlpineSquareGallery1.PNG" alt="Image Gallery">
                        </a>
                    </div>
                </div>

            </div>
        </main>

    </section>
    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top">
        <div class="container tm-container-contact">
            <div class="row">
                <div class="col-12">
                    <h2 style="color:#3496d8" class="mb-4 tm-section-title">Contact Us</h2>
                    <div class="mb-5 tm-underline">
                        <div class="tm-underline-inner"></div>
                    </div>

                    @using (Html.BeginForm("Enquiry", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="padding-top:0px">
                            <div class="col-xs-12 col-sm-12 col-md-12 div">
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                                <form>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Name">Name</label>
                                        </div>
                                        <div class="col-75">
                                            @*<input type="text" id="CustomerName" name="firstname" placeholder="Your name..">*@
                                            @Html.TextBoxFor(m => m.CustomerName, new { type = "text", required = "required", placeholder = "Your name.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Mobile">Mobile</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextBoxFor(m => m.Mobile, new { type = "text", required = "required", placeholder = "Mobile.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Project">Project</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.DropDownListFor(model => model.ProjectID, TempData["ProjectList"] as SelectList, "--Select Project--", new { @class = "text", type = "text" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Enquiry">Enquiry</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextAreaFor(m => m.Enquiry, new { @class = "text", type = "text", required = "required",maxlength = 160 })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" style="background-color:none !important" class="tm-intro-text tm-btn-primary" value="Contact">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    }


                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <footer class="text-center small tm-footer">
            <p style="color:black" class="mb-0">
                <b>
                    <b>SRI ADITYA SQUARES</b> <br />
                </b>
                1st floor, Lakshmi's, Kavuri Hills Phase 1, Hyderabad, 500033<br />
                Reach us at : <b>9000943243</b><br />
                <b>Copyright &copy; 2020 SRI ADITYA SQUARES</b> <br />


        </footer>

    </section>



    <style>

        @@media(max-width:768px) {
            #chat {
                height: 500px;
            }

            #logoImagediv {
                height: 50px;
            }

            .tm-nav-link {
                padding: 0px;
                margin: 0px;
                /* right: 2px;*/
                margin-left: 180px;
            }

            .tm-navbar {
                padding-bottom: 0px;
                padding-top: 0px;
            }

            .navbar-nav {
                max-width: 1000px;
                text-align: right;
            }
        }

        @@media(min-width:768px) {
            #chat {
                height: 500px;
            }

            #logoImagediv {
                height: 70px;
            }

            #loginPosition {
                right: 3px;
                position: fixed;
            }
        }

        .message-icon {
            width: 40px;
            height: 60px;
            background-color: none;
            line-height: 40px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            border-radius: 50%;
            position: fixed;
            bottom: 60px;
            right: 50px;
            cursor: pointer;
        }

        .k-quick-replies1 {
            display: block;
            max-width: 100%;
        }

        .k-chat .k-quick-reply1 {
            border-color: #f35800;
            color: #f35800;
            background-color: transparent;
        }

        .k-quick-reply1 {
            border-radius: 100px;
            margin-right: 8px;
            margin-bottom: 4px;
            padding: 8px 12px;
            border-width: 1px;
            border-style: solid;
            line-height: 18px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            display: inline-block;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            transition-property: color,background-color,border-color;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
        }

        #body1 {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }
    </style>
    <script>

        $(document).ready(function () {

            $('.message-icon').click(function () {
                var x = document.getElementById("chat");
                var y = document.getElementById("body1");
                var z = document.getElementById("msgIcon");
                if (x.style.display === "none") {
                    y.style.display = "block";
                    x.style.display = "flex";
                    x.style.zIndex = "9999";
                    z.style.zIndex = "9999";
                    $("#body1").disableScroll();
                } else {
                    x.style.display = "none";
                    $("#body1").enableScroll();
                    y.style.display = "none";
                }
            });


        });
    </script>
    <script id="quote-template" type="text/x-kendo-template">
        <div id="quote1" class="#=styles.card# #=styles.cardRich#">
            <div class="#=styles.cardBody#">
                <div>
                    <strong>Project Name:</strong>
                    <span>#:project#</span>
                </div>
                <div>
                    <strong>Location:</strong>
                    <span>#:location#</span>
                </div>
                <div>
                    <strong>Club House:</strong>
                    <span>#:chouse#</span>
                </div>

            </div>
        </div>
    </script>
    <script>
        $(document).ready(function () {
            // Initialize the Chat
            var QUOTE_CARD_TEMPLATE = kendo.template($('#quote-template').html());
            kendo.chat.registerTemplate("quote", QUOTE_CARD_TEMPLATE);
            var chat = $("#chat").kendoChat({
                post: function (args) {
                    agent.postMessage(args);
                }
            }).data("kendoChat");

            // Create a new agent and pass the Chat widget.
            var agent = new ChatAgent(chat);
            var QUOTE_CARD_TEMPLATE = kendo.template(
                '<div class="k-card k-card-type-rich">' +
                '<p><strong>Project Details :</strong></p>' +
                '<div> <img width=250 height=250 style="object-fit: cover;" src="#:projectImageURL#" />  </div>' +
                '<div class="k-card-body quoteCard">' +
                '<div><strong>Project Name:</strong>' +
                '<span>#:project#</span></div>' +

                '<div><strong>Location :</strong>' +
                '<span>#:location#</span></div>' +

                '<div><strong>ClubHouse:</strong>' +
                '<span>#:chouse#</span></div>' +

                '</div>' +
                '</div>'
            );
            kendo.chat.registerTemplate("quote", QUOTE_CARD_TEMPLATE);

            var QUOTE_CARD_TEMPLATE1 = kendo.template(
                '<div class="k-card k-card-type-rich">' +
                '<img width=250 height=250 style="object-fit: cover;" src="#:projectImageURL#" alt = "undefined" class= "k-card-image" >' +
                '<div class="k-card-body"><h5 class="k-card-title">#:project#</h5>' +
                '<h6 class="k-card-subtitle">#:location#</h6>' +
                '<p style = "line-height: 1.0;font-size: small;">#:description#</p >'
                + '</div>'
                + '<div class= "k-card-actions k-card-actions-vertical" >' +
                '<span class="k-card-action">' +
                '<a  href="#:locationUrl#" class= "k-button k-flat k-primary" > Get Location Map</span ></a >' +
                '</div></div>'
            );
            kendo.chat.registerTemplate("quote1", QUOTE_CARD_TEMPLATE1);


            var PLAN_CARD_TEMPLATE = kendo.template(

                '<div class="k-quick-replies">' +
                '# for (var i = 0; i < rows.length; i++) { #' +

                '<span class="k-quick-reply" data-value="#:rows[i].value#">#:rows[i].title#</span>' +
                '# } #' +
                '</div>'
            );
            kendo.chat.registerTemplate("payment_plan", PLAN_CARD_TEMPLATE);



            var AMENITIES_TEMPLATE = kendo.template(
                //'<div class="k-card-deck">'+

                '# for (var i = 0; i < rows.length; i++) { #' +
                '<div class="k-card k-card-type-rich">' +
                '<img width=250 height=250 style="object-fit: cover;" src="#: rows[i].AmenitesPicUrl#" alt = "undefined" class= "k-card-image" >' +
                '<div class="k-card-body">' +
                '<h5 class= "k-card-title" >#: rows[i].Amenities#</h5 >' +
                '</div>' +
                '</div>' +
                '# } #'
                //'</div>'

            );
            kendo.chat.registerTemplate("Amenities", AMENITIES_TEMPLATE);
            // Initially render a hint message to the user.
            agent.chat.renderMessage({
                type: "text",
                text: "Hello! Please choose your preferred location.",
                timestamp: new Date()
            }, {
                name: "Bot",
                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
            });
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/ChatBot/GetProjectLocationsForChatBot",
                success: function (data) {
                    //chat.renderSuggestedActions(data);
                    chat.renderAttachments({
                        attachments: [{
                            contentType: "payment_plan",
                            content: {
                                rows: data
                            }
                        }]
                        //,attachmentLayout: "carousel"
                    }, "Venkat");
                },
                error: function (data) {

                }
            });

        });
    </script>

    <script>

        window.ChatAgent = kendo.Class.extend({
            // Initialize the ChatAgent object.
            init: function (chat) {
                this.chat = chat;

            },
            // Implement the postMessage logic.
            postMessage: function (args) {
                var chat = this.chat;

                if (args.text.includes("Project-")) {
                    var projectName = args.text.split("-").pop();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectSuggestionForChatBot",
                        data: { projectName: projectName },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "Select the below options to know more about :" + projectName,
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            chat.renderSuggestedActions(data);


                        },
                        error: function (data) {
                        }
                    });


                }
                else if (args.text.includes("Location-")) {
                    var locationName = args.text.split("-").pop();
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectBasedOnLocationsForChatBot",
                        data: { locationName: locationName },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "Please choose your preferred Project.",
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            chat.renderSuggestedActions(data);


                        },
                        error: function (data) {
                        }
                    });
                }
                else if (args.text.includes("-Details")) {
                    var projectName = args.text.split("-");
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectDetailsForChatBot",
                        data: { projectName: projectName[0] },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: "Here are the project details for " + projectName[0],
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            chat.renderAttachments({
                                attachments: [{
                                    contentType: "quote1",
                                    content: {
                                        "project": data.ProjectName,
                                        "location": data.ProjectLocation,
                                        "locationUrl": data.LocationURL,
                                        "chouse": data.ClubHouseCharges,
                                        "description": data.Description,
                                        "projectImageURL": data.projectImageURL,
                                    }
                                }]
                                //,attachmentLayout: "carousel"
                            }, "Venkat");


                            var json = [{
                                title: "Approvals",
                                value: projectName[0] + "-Approvals"
                            },
                            {
                                title: "Amenities",
                                value: projectName[0] + "-Amenities"
                            }];

                            chat.renderSuggestedActions(json);
                        },
                        error: function (data) {
                        }
                    });
                }
                else if (args.text.includes("-Approvals")) {
                    var projectName = args.text.split("-");
                    var approvalText = "";
                    if (projectName[0] == 'Jewels County') {
                        approvalText = 'HMDA Approved';
                    }
                    else if (projectName[0] == 'In the Woods') {
                        approvalText = 'HMDA Approval to be completed by March 2021';
                    }
                    else if (projectName[0] == 'Elderado') {
                        approvalText = 'HMDA Approved';
                    }
                    else if (projectName[0] == 'PVR Anmol') {
                        approvalText = 'HMDA awaiting for DC Letter';
                    }
                    else if (projectName[0] == 'Alpine Square') {
                        approvalText = 'GHMC & RERA Approved';
                    }
                    else if (projectName[0] == 'Alpine Vistas') {
                        approvalText = 'HMDA Approval Pending';
                    }
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectDetailsForChatBot",
                        data: { projectName: projectName[0] },
                        success: function (data) {
                            chat.renderMessage({
                                type: "text",
                                text: approvalText,
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            var json = [{
                                title: "Amenities",
                                value: projectName[0] + "-Amenities"
                            },
                            {
                                title: "Project Details",
                                value: projectName[0] + "-Details"
                            }];

                            chat.renderSuggestedActions(json);
                        },
                        error: function (data) {
                        }
                    });
                }
                else if (args.text.includes("-Amenities")) {
                    var projectName = args.text.split("-");

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/ChatBot/GetProjectAmenitiesForChatBot",
                        data: { projectName: projectName[0] },
                        success: function (data) {
                            //chat.renderSuggestedActions(data);
                            chat.renderMessage({
                                type: "text",
                                text: "Check out the Amenities for " + projectName[0],
                                timestamp: new Date()
                            }, {
                                name: "Bot",
                                iconUrl: "https://demos.telerik.com/kendo-ui/content/chat/InsuranceBot.png"
                            });
                            chat.renderAttachments({
                                attachments: [{
                                    contentType: "Amenities",
                                    content: {
                                        rows: data
                                    }
                                }]
                                , attachmentLayout: "carousel"
                            }, "Venkat");

                            var json = [{
                                title: "Approvals",
                                value: projectName[0] + "-Approvals"
                            },
                            {
                                title: "Project Details",
                                value: projectName[0] + "-Details"
                            }];

                            chat.renderSuggestedActions(json);

                        },
                        error: function (data) {

                        }
                    });
                }


            }
        });
    </script>
    @*<script src="~/Content/Potfolio/jquery-1.9.1.min.js"></script>*@


    <script>
        document.getElementById("WebApp").onclick = function () {
            location.href = "https://sasinfra.in/Account/Login";
        };
        function getOffSet() {
            var _offset = 450;
            var windowHeight = window.innerHeight;

            if (windowHeight > 500) {
                _offset = 400;
            }
            if (windowHeight > 680) {
                _offset = 300
            }
            if (windowHeight > 830) {
                _offset = 210;
            }

            return _offset;
        }

        function setParallaxPosition($doc, multiplier, $object) {
            var offset = getOffSet();
            var from_top = $doc.scrollTop(),
                bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
            $object.css({ "background-position": bg_css });
        }


        var background_image_parallax = function ($object, multiplier, forceSet) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            // $object.css({"background-attatchment" : "fixed"});

            if (forceSet) {
                setParallaxPosition($doc, multiplier, $object);
            } else {
                $(window).scroll(function () {
                    setParallaxPosition($doc, multiplier, $object);
                });
            }
        };

        var background_image_parallax_2 = function ($object, multiplier) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            $object.css({ "background-attachment": "fixed" });
            $(window).scroll(function () {
                var firstTop = $object.offset().top,
                    pos = $(window).scrollTop(),
                    yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                var bg_css = 'center ' + yPos + 'px';

                $object.css({ "background-position": bg_css });
            });
        };

        $(function () {
            // Hero Section - Background Parallax
            background_image_parallax($(".tm-parallax"), 0.30, false);
            background_image_parallax_2($("#contact"), 0.80);

            // Handle window resize
            window.addEventListener('resize', function () {
                background_image_parallax($(".tm-parallax"), 0.30, true);
            }, true);

            // Detect window scroll and update navbar
            $(window).scroll(function (e) {
                if ($(document).scrollTop() > 120) {
                    $('.tm-navbar').addClass("scroll");
                } else {
                    $('.tm-navbar').removeClass("scroll");
                }
            });

            // Close mobile menu after click
            $('#tmNav a').on('click', function () {
                $('.navbar-collapse').removeClass('show');
            })

            // Scroll to corresponding section with animation
            $('#tmNav').singlePageNav();

            // Add smooth scrolling to all links
            // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
            $("a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 400, function () {
                        window.location.hash = hash;
                    });
                } // End if
            });

            // Pop up
            $('.tm-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: { enabled: true }
            });

            // Gallery
            $('.tm-gallery').slick({
                dots: true,
                infinite: false,
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });

        $(window).load(function () {
            getLocation();
        });

        var x = document.getElementById("demo1");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            $("#Latitude").val(position.coords.latitude);
            $("#Longitude").val(position.coords.longitude);
        }

        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });

        document.onkeydown = function (e) {
            if (event.keyCode == 123) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                return false;
            }
            if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                return false;
            }
        }
        $.fn.disableScroll = function () {
            window.oldScrollPos = $(window).scrollTop();

            $(window).on('scroll.scrolldisabler', function (event) {
                $(window).scrollTop(window.oldScrollPos);
                event.preventDefault();
            });
        };

        $.fn.enableScroll = function () {
            $(window).off('scroll.scrolldisabler');
        };

        function scrollButtonClick(e) {
            var button = $(e.currentTarget);
            var scrollToLeft = button.find(".k-i-arrow-chevron-left").length !== 0;
            var scrollContainer = $(".k-card-deck").eq(0);
            var lastCard = scrollContainer.find(".k-card").last();
            var cardWidth = lastCard.outerWidth(true);


            if (scrollToLeft) {
                scrollContainer.scrollLeft(scrollContainer.scrollLeft() - cardWidth);
            } else {
                scrollContainer.scrollLeft(scrollContainer.scrollLeft() + cardWidth);
            }
        };

        $(document).ready(function () {
            var cardDeck = $(".k-card-deck-scrollwrap").eq(0);

            cardDeck.on("click", ".k-button-scroll", scrollButtonClick);
        });

    </script>
    <style>
        #example {
            display: flex;
            justify-content: center;
        }

        /*.k-card-deck-scrollwrap {
            max-width: 728px;
        }*/

        .k-card-deck {
            box-sizing: border-box;
            margin-left: -16px;
            margin-right: -16px;
            padding: 16px 16px 16px;
            overflow-y: hidden;
            overflow-x: auto;
        }
    </style>
</body>
<div style="display: none;position: fixed;bottom: 70px;right: 60px;width:350px;background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('/Content/Images/joana.jpg');background-size: cover;" id="chat"></div>

<div id="msgIcon" class="message-icon">
    <img src="~/Content/Images/chatbotDark.png" />
</div>
<div type="button" style="position: fixed; bottom: 60px; left: 20px;" data-toggle="modal" data-target="#myModal">
    <a href="#popup1">


        <img width="64" height="64" src="~/Content/Images/Special-offer_3.gif" />
    </a>
</div>
<div id="popup1" class="overlay1">
    <div class="popup">
        <h2>Vouchers</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div class="k-card-deck-scrollwrap">

                <div class="k-card-deck">
                    <div class="k-card k-card-type-rich">
                        <img width=250 height="450" style="object-fit: contain;" src="~/Content/Images/Coupon.jpg" alt="undefined" class="k-card-image">
                        <div style="background-color: #0095d8" class="k-card-body">


                        </div>

                    </div>

                    <div class="k-card k-card-type-rich">
                        <img width=250 height="450" style="object-fit: contain;" src="~/Content/Images/Coupon1.jpg" alt="undefined" class="k-card-image">
                        <div style="background-color: #6fbf12" class="k-card-body">


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .overlay1 {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }

        .overlay1:target {
            visibility: visible;
            opacity: 1;
        }

    .popup {
        margin: 80px auto;
        padding: 20px;
        background: #fff;
        margin-top: 100px;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
    }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .popup .close:hover {
                color: #06D85F;
            }

        .popup .content {
            max-height: 30%;
            overflow: auto;
        }

    @@media screen and (max-width: 700px) {

        .popup {
            width: 70%;
        }
    }

    @@font-face {
        font-family: 'kilsonburg';
        src: url('../../Content/kilsonburg.ttf') format('truetype');
    }

    .classname {
        font-family: 'kilsonburg';
    }
</style>
</html>
