@model ModelLayer.CustomerEnquiry
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home Page</title>
    <link rel="icon" src="~/Content/Images/SASBLACKLOGO.ico" href="~/Content/Images/SASBLACKLOGO.ico" sizes="32x32">
    <link rel="icon" src="~/Content/Images/SASBLACKLOGO.ico" href="~/Content/Images/SASBLACKLOGO.ico" sizes="192x192">
    <link href="~/Content/kendo/2019.3.917/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2019.3.917/kendo.default.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/Potfolio/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Potfolio/slick.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/templatemo-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/kendo.all.min.js"></script>
    <script src="~/Content/Potfolio/slick.min.js"></script>
    <script src="~/Content/Potfolio/kchat.js"></script>

    <script src="~/Content/Potfolio/homePage.js"></script>
    <script src="~/Content/Potfolio/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Potfolio/jquery.singlePageNav.min.js"></script>
    <script src="~/Content/Potfolio/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0BLFFZ00RV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0BLFFZ00RV');
    </script>
</head>
<body>
    <!-- Hero section -->

    <div id="body1">
    </div>
    <style>
        .holder {
            /*            //background-color: #ccc;
        */ width: 300px;
            height: 250px;
            overflow: hidden;
            padding: 10px;
            font-family: Helvetica;
        }

            .holder .mask {
                position: fixed;
                right: 0px !important;
                top: 100px;
                width: 300px;
                height: 240px;
                overflow: hidden;
            }

            .holder ul {
                list-style: none !important;
                margin: 0 !important;
                padding: 0 !important;
                position: relative !important;
            }

                .holder ul li {
                    padding: 10px 0px;
                }

                    .holder ul li a {
                        color: darkred;
                        text-decoration: none;
                    }
    </style>


    <script>
        jQuery.fn.liScroll = function (settings) {
            settings = jQuery.extend({
                travelocity: 0.03
            }, settings);
            return this.each(function () {
                var $strip = jQuery(this);
                $strip.addClass("newsticker")
                var stripHeight = 1;
                $strip.find("li").each(function (i) {
                    stripHeight += jQuery(this, i).outerHeight(true); // thanks to Michael Haszprunar and Fabien Volpi
                });
                var $mask = $strip.wrap("<div class='mask'></div>");
                var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");
                var containerHeight = $strip.parent().parent().height();	//a.k.a. 'mask' width
                $strip.height(stripHeight);
                var totalTravel = stripHeight;
                var defTiming = totalTravel / settings.travelocity;	// thanks to Scott Waye
                function scrollnews(spazio, tempo) {
                    $strip.animate({ top: '-=' + spazio }, tempo, "linear", function () { $strip.css("top", containerHeight); scrollnews(totalTravel, defTiming); });
                }
                scrollnews(totalTravel, defTiming);
                $strip.hover(function () {
                    jQuery(this).stop();
                },
                    function () {
                        var offset = jQuery(this).offset();
                        var residualSpace = offset.top + stripHeight;
                        var residualTime = residualSpace / settings.travelocity;
                        scrollnews(residualSpace, residualTime);
                    });
            });
        };

        $(function () {
            $("ul#ticker01").liScroll();
        });
    </script>
    <section id="hero">
        <!-- Navigation -->
        <nav style="padding-bottom:3px;margin-bottom:0px;" class="navbar navbar-expand-md tm-navbar" id="tmNav">
            <div class="container">
                <div class="tm-next">
                    <a href="#hero" style="margin-top:100px;">
                        <img id="logoImagediv" style="object-fit: contain;" src="~/Content/Images/SASBLACKLOGO.png" />
                        <span style="font-family: kilsonburg;font-size:18px;color:black">SRI ADITYA SQUARES</span>
                    </a>

                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">

                            <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link desk" href="#companyProfile">Company Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#work">Projects</a    >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#galleryBox">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">Contact Us</a>
                        </li>
                        <li id="loginPosition" class="nav-item">
                            <a class="nav-link tm-nav-link" id="WebApp" href="">
                                <span class="fa fa-sign-in"> Login</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="tm-next tm-intro-next">
            <a href="#introduction" class="text-center tm-down-arrow-link">
                <i class="fa fa-3x fa-caret-down tm-down-arrow"></i>
            </a>
        </div>

    </section>
    <section id="introduction" class="tm-section-pad-top">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">

                    <img src="~/Content/Images/sasImage.jpeg" alt="Image" class="img-fluid tm-intro-img" />
                </div>
                <div class="col-lg-6">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                        <p style="font-weight: 500;" class="mb-4 tm-intro-text">
                            SAS,is the one stop destination for all your real estate property needs. We offer END to END services at free of cost and provide upto 90% of bank loans.
                            SAS  has more than 2500+ satisfied customers and the number is growing day by day.
                        </p>
                        <p style="font-weight: 500;" class="mb-5 tm-intro-text">
                            Before going to buy a property in Guntur / Hyderabad / Bangalore, Please take our advice from more than 500+ highly qualified and experienced corporate Professional employees.
                            If you want to buy any property like gated community FLATS in Hyderabad, PLOTS for sale in hyderabad, DUPLEX, gated community VILLAS in Hyderabad .
                        </p>
                        <div class="tm-next">
                            <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tm-section-pad-top">
                <div class="col-lg-4">
                    <img style="height:200px;width:400px" src="~/Content/Images/interior.jpg" />
                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Real Estate Done Right!</h5>
                    <p style="font-weight: 500;">
                        Nervous about your property adventure? Don’t be.Whether you're getting ready to buy or sell, in the middle of it, or just looking for some answers, our top-notch skills ensure you get the best experience possible.It’s what we love to do.
                    </p>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <img style="height:200px;width:400px;" src="~/Content/Images/cityLights.gif" />

                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Commercial and Residential!</h5>
                    <p style="font-weight: 500;">
                        Large or small, condo or mansion, we can find it and get it for you at the price that's right. TICs? Fixer-uppers? Luxury? We can help with all of it. We always have a current list of available properties for you to check out.
                    </p>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <img style="height:200px;width:400px" src="~/Content/Images/KitchenImg.jpg" />
                    <h5 style="padding-top:8px;padding-bottom:8px;margin-bottom:0 !important" class="text-center tm-text-primary mb-4">Rely on Expertise!</h5>
                    <p style="font-weight: 500;">
                        If you have questions about affordability, credit, legal matters, or income, trust us to find you what you need fast. We make sure you feel confident and educated every step of the way.
                    </p>
                </div>
            </div>
    </section>
    <style>
        .desk{
        opacity:1
}
.div-only-mobile{
  width:400px;
  height:200px;
  background:orange;
}

@@media screen and (max-width : 505px){
 .desk{
  display:none;
  }
 .div-only-mobile{
  visibility:visible;
  }
}
    </style>
    @*<section id="companyProfile" class="tm-section-pad-top desk">
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Views/Home/CompanyProfile.html")))

    </section>*@
    <section id="work" class="tm-section-pad-top">
        <div class="container tm-container-gallery">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="tm-text-primary tm-section-title mb-4">Projects</h2>
                    <p style="font-weight:600" class="mx-auto tm-work-description">
                        A revolutionary change in the realty sector, SAS Infra presents, SAS - A one-of-a-kind Promotional,development of various real estate projects that will transform the way the  real estate  perceives business, life and luxury.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div id="example">
                        <div class="k-card-deck-scrollwrap">
                            <button class="k-button k-button-icon k-button-scroll">
                                <span class="k-icon k-i-arrow-chevron-left"></span>
                            </button>
                            <div class="k-card-deck">
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/GreenTech.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #166d9c" class="k-card-body">
                                        <h5 class="k-card-title">GreenTech</h5>
                                        <h6 class="k-card-subtitle">KRPET</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=GreenTechBrochure.pdf">Download Brochure</a></span>

                                    </span>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadLegalOpinion?fileName=GreenTechLO.pdf">Download Legal Opinion</a></span>
                                    </span>
                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Ornate.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #139e91" class="k-card-body">
                                        <h5 class="k-card-title">Ornate</h5>
                                        <h6 class="k-card-subtitle">Patancheru</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=OrnateBrochure.pdf">Download Brochure</a></span>

                                    </span>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadLegalOpinion?fileName=OrnateLO.pdf">Download Legal Opinion</a></span>
                                    </span>
                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/MIRCHI VENICE.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #0095d8" class="k-card-body">
                                        <h5 class="k-card-title">Mirchi Venice</h5>
                                        <h6 class="k-card-subtitle">Pati&Kollur Road</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary border"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=MirchiVeniceBrochure.pdf">Download Brochure</a></span>
                                    </span>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadLegalOpinion?fileName=OrnateLO.pdf">Download Legal Opinion</a></span>
                                    </span>
                                </div>
                                <div style="background-color:whitesmoke;border:2px;border-color:black" class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Alpine Square.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: rosybrown" class="k-card-body">
                                        <h5 class="k-card-title">Alpine Squares</h5>
                                        <h6 class="k-card-subtitle">Patancheru</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=AlpineSquareBrochure.pdf">Download Brochure</a></span>
                                    </span>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadLegalOpinion?fileName=AlpineSquareLO.pdf">Download Legal Opinion</a></span>
                                    </span>
                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Alpine Vistas.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #ff8a65" class="k-card-body">

                                        <h5 class="k-card-title">Alpine Vistas</h5>
                                        <h6 class="k-card-subtitle">Rendlagadda</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=AlpineVistasBrochure.pdf">Download Brochure</a></span>
                                    </span>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadLegalOpinion?fileName=AlpineVistasLO.pdf">Download Legal Opinion</a></span>
                                    </span>
                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/PVR Anmol.png" alt="undefined" class="k-card-image">
                                    <div style="background-color:#f48e36" class="k-card-body">
                                        <h5 class="k-card-title">PVR Anmol</h5>
                                        <h6 class="k-card-subtitle">Miyapur</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=PVRAnmolBrochure.pdf">Download Brochure</a></span>
                                    </span>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadLegalOpinion?fileName=PVRAnmolLO.pdf">Download Legal Opinion</a></span>
                                    </span>
                                </div>
                                <!--<div class="k-card k-card-type-rich">
        <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/SISHTA ABODE.png" alt="undefined" class="k-card-image">
        <div style="background-color: #c9ccbd" class="k-card-body">
            <h5 class="k-card-title">Sishta Abode</h5>
            <h6 class="k-card-subtitle">Kompally</h6>

        </div>
        <span class="k-card-action">-->
                                @*<span class="k-button k-flat k-primary">Download Brochure</span>*@
                                <!--</span>
    </div>-->

                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/In the Woods.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #6fbf12" class="k-card-body">
                                        <h5 class="k-card-title">In the Woods</h5>
                                        <h6 class="k-card-subtitle">Narsingi</h6>

                                    </div>
                                    <span class="k-card-action">
                                        @*<span class="k-button k-flat k-primary">Download Brochure</span>*@
                                    </span>
                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Elderado.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #ffca2b" class="k-card-body">
                                        <h5 class="k-card-title">Elderado</h5>
                                        <h6 class="k-card-subtitle">Narsingi</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=ElderadoBrochure.pdf">Download Brochure</a></span>
                                    </span>
                                </div>

                                <!--<div class="k-card k-card-type-rich">
        <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Tapovanam.png" alt="undefined" class="k-card-image">
        <div style="background-color: #547861" class="k-card-body">
            <h5 class="k-card-title">Tapovanam</h5>
            <h6 class="k-card-subtitle">Kanukunta</h6>

        </div>
        <span class="k-card-action">-->
                                @*<span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=AlpineSquareBrochure.pdf">Download Brochure</a></span>*@
                                <!--</span>
    </div>-->



                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/WoodLand.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #D2B48C" class="k-card-body">
                                        <h5 class="k-card-title">Woodland</h5>
                                        <h6 class="k-card-subtitle">Dundigal</h6>

                                    </div>
                                    <span class="k-card-action">
                                        <span class="k-button k-flat k-primary"><a href="https://sasinfra.in/Customer/DownloadBrochure?fileName=WoodlandBrochure.pdf">Download Brochure</a></span>
                                    </span>
                                </div>
                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/The Drizzle.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #ff0707b8" class="k-card-body">
                                        <h5 class="k-card-title">The Drizzle</h5>
                                        <h6 class="k-card-subtitle">Narsingi</h6>

                                    </div>
                                    <span class="k-card-action">
                                        @*<span class="k-button k-flat k-primary">Download Brochure</span>*@
                                    </span>
                                </div>


                                <div class="k-card k-card-type-rich">
                                    <img width=250 height=250 style="object-fit: cover;" src="~/Content/Images/Jewels County.png" alt="undefined" class="k-card-image">
                                    <div style="background-color: #e3f90f" class="k-card-body">
                                        <h5 class="k-card-title">Jewels County</h5>
                                        <h6 class="k-card-subtitle">K Peta</h6>

                                    </div>
                                    <span class="k-card-action">
                                        @*<span class="k-button k-flat k-primary">Download Brochure</span>*@
                                    </span>
                                </div>
                            </div>
                            <button class="k-button k-button-icon k-button-scroll">
                                <span class="k-icon k-i-arrow-chevron-right"></span>
                            </button>
                        </div>



                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <script>
                    $(document).ready(function () {

                        $("#mediaplayer").kendoMediaPlayer({
                            autoPlay: false
                        });

                        var videos = new kendo.data.DataSource({
                            data: [{
                                title: "Alpine Square",
                                poster: "/Content/Images/AlpineSquareGallery2.png",
                                source: "/Content/Images/Alpinesquare.mp4",
                                bgcolor: "rosybrown"
                            },
                            {
                                title: "PVR Anmol",
                                poster: "/Content/Images/PVRAnmol.JPG",
                                source: "/Content/Images/PVRAnmol.mp4",
                                bgcolor: "#f48e36"
                            },
                            {
                                title: "The Drizzle",
                                poster: "/Content/Images/The Drizzle.png",
                                source: "https://youtu.be/xwExJJd0Lk0",
                                bgcolor: "#ff0707b8"
                            },
                            {
                                title: "Alpine Vistas",
                                poster: "/Content/Images/Alpine Vistas.png",
                                source: "/Content/Images/AlpineVistasVideo.mp4",
                                bgcolor: "#139e91"
                            }


                            ]
                        });

                        var listView = $("#listView").kendoListView({
                            dataSource: videos,
                            selectable: true,
                            scrollable: false,
                            template: kendo.template($("#template").html()),
                            change: onChange,
                            dataBound: onDataBound,

                        });

                        function onChange() {
                            var index = this.select().index();
                            var dataItem = this.dataSource.view()[index];
                            $("#mediaplayer").data("kendoMediaPlayer").media(dataItem);

                        }

                        function onDataBound() {
                            this.select(this.element.children().first());
                        }
                        $("#listView").click(function () {
                            $("#mediaplayer").data("kendoMediaPlayer").play();
                        });
                    });
                </script>


                <script type="text/x-kendo-template" id="template">
                    <li style="background:#:bgcolor#" class="k-item k-state-default" onmouseover="$(this).addClass('k-state-hover')"
                        onmouseout="$(this).removeClass('k-state-hover')">
                        <span>
                            <img src="#:poster#" />
                            <h5>#:title#</h5>
                        </span>
                    </li>
                </script>
                <div id="mediaplayer" style="height:360px"></div>
                <div class="k-list-container playlist"><ul id="listView" class="k-list"></ul></div>

            </div>
            <br />
            <br />
            @*<div class="tabs">
                    <div class="tab-2">
                        <label style="color:#0095d8 !important" for="tab2-1">OUR MISSION</label>
                        <input style="border-bottom:2px solid #0095d8 !important" id="tab2-1" name="tabs-two" class="active" type="radio" checked="checked">
                        <div>

                            <p style="font-weight:500">
                                <b style="color:#0095d8">Mission Statement:</b>
                                <br />
                                <b style="color:#0095d8">•</b> SAS provides our clients with the very best service in all aspects of residential real
                                estate, whether we are handling their sale or purchase personally, or connecting them to
                                one of our associated property experts for particular service.
                                <br />
                                <b style="color:#0095d8">•</b> SAS believes in customers for life, being there for our clients throughout our journey in
                                business, and in life, to ensure when it comes to residential property, they receive the
                                very best this industry has to offer.
                                <br />
                                <b style="color:#0095d8">•</b> We aim to be at the forefront of property marketing, and to provide tailored, innovative
                                solutions that fit our client’s individual property and situations to ensure the best possible
                                outcome is achieved.
                                <br />
                                <b style="color:#0095d8">•</b> To make the Buying and Selling of Real Estate as Cost effective as possible while
                                maintaining the highest level of service.
                                <br />
                                <b style="color:#0095d8">•</b> The best interest of our clients will always come first and we will place the clients
                                concerns ahead of our own in each and every transaction, as we are dedicated to
                                development of long- term client relationships.
                                <br />
                                <b style="color:#0095d8">•</b> To provide accurate and up-to-date information, skilled analysis and sound Real Estate
                                advice.
                                <br />
                                <b style="color:#0095d8">•</b> To continually explore new ideas and technology, to make selling and buying of Real
                                Estate faster, less costly and easier.
                                <br />
                                <b style="color:#0095d8">Motto:</b> We appreciate your Business
                                <br />
                                <hr />
                                <b style="color:#0095d8">Values :</b>
                                <br />
                                <br />
                            <p style="font-weight:500">
                                <b style="color:#0095d8">
                                    D
                                </b>- Dedicated – We take positive action.

                                <br />

                                <b style="color:#0095d8">
                                    R
                                </b>- Respect – We treat everyone with dignity, value their contributions and help one another succeed.


                                <br />
                                <b style="color:#0095d8">
                                    E
                                </b>- Excellence – We aspire to be the best in everything we do, and strive for continuous
                                improvement
                                <br />
                                <b style="color:#0095d8">
                                    A
                                </b>- Ambitious – We are eagerly desirous of achieving the DREAMS of our clients and customer’s
                                <br />
                                <b style="color:#0095d8">
                                    M
                                </b>- Mission - We are transforming and enriching lives, through our love of Real Estate and
                                construction.
                                <br />
                                <b style="color:#0095d8">
                                    S
                                </b>- SAS Meaning – We are Serious, Determent, Responsible, Stable. We maintain the highest
                                level of service to achieve the Highest.
                            </p>

                        </div>
                    </div>
                    <div class="tab-2">
                        <label style="color:#ea4f4c !important" for="tab2-2">OUR    VISION</label>
                        <input style="border-bottom:2px solid #ea4f4c !important;border-left:2px solid #ea4f4c !important;border-right:2px solid #ea4f4c !important" id="tab2-2" name="tabs-two" type="radio">
                        <div>
                            <p style="font-weight:500">
                                <b style="color:#ea4f4c">Vision Statement :</b>
                                <br />
                                <b style="color:#ea4f4c">
                                    F
                                </b>- Fairness in dealing with our clients and colleagues.
                                <br />
                                <b style="color:#ea4f4c">
                                    L
                                </b>- Customers for Life
                                succeed.
                                <br />
                                <b style="color:#ea4f4c">
                                    I
                                </b>- Integrity & Honesty in dealing with our clients, service providers and Colleagues
                                improvement
                                <br />
                                <b style="color:#ea4f4c">
                                    G
                                </b>- Growth – Establishing our Agency as the preferred Real Estate Company in our market Area.
                                <br />
                                <b style="color:#ea4f4c">
                                    H
                                </b>- Highest possible standards
                                <br />
                                <b style="color:#ea4f4c">
                                    T
                                </b>- Team work – with our SAS Agents and Agents in our network system
                            </p>

                            <p style="font-weight:500">
                                To be the leader in Real Estate and construction in Telangana and Andhra Pradesh, with a renowned reputation of honesty, integrity, impeccable customer service, helping other and serving our Community.
                            </p>
                            <hr />
                            <p style="font-weight:500">
                                <b style="color:#ea4f4c">SAS code of conduct: </b>Keys of Excellence
                                <br />
                                <b style="color:#ea4f4c">•</b> Integrity – Match behaviour with values
                                <br />
                                <b style="color:#ea4f4c">•</b> Failure leads to success – Learn from mistakes
                                <br />
                                <b style="color:#ea4f4c">•</b> Speak with good purpose – Speak Honestly and Kindly
                                <br />
                                <b style="color:#ea4f4c">•</b> This is it – Make the most of every moment
                                <br />
                                <b style="color:#ea4f4c">•</b> Commitment – Make your dreams happen
                                <br />
                                <b style="color:#ea4f4c">•</b> Ownership - Take responsibility for actions
                                <br />
                                <b style="color:#ea4f4c">•</b> Flexibility – Be Willing to do things differently
                                <br />
                                <b style="color:#ea4f4c">•</b> Balance – Live your best life
                            </p>
                            <hr />
                            <p style="font-weight:500">
                                <b style="color:#ea4f4c">Core Values: </b>
                                <br />
                                All members of SAS subscribe to this simple philosophy…. We serve our clients and community with honesty, integrity, knowledge and imagination to exceed their expectations and create win-win situations for all.
                            </p>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>



    <section id="galleryBox" style="padding-bottom:30px;" class="tm-section-pad-top">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-text-primary tm-section-title mb-4">Gallery</h2>

            </div>
        </div>
        <main class="main">
            <div class="container">
                @*<img class="img-responsive" src="~/Content/Images/Leaflet.PNG" />*@

                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Ornate.jpg" data-fancybox="gallery" data-caption="Ornate">
                            <img src="~/Content/Images/Ornate.jpg" />
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Image_1.jpg" data-fancybox="gallery" data-caption="Alpine Vistas">
                            <img src="~/Content/Images/Image_1.jpg" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/OrnateImage1.jpeg" data-fancybox="gallery" data-caption="Ornate">
                            <img src="~/Content/Images/OrnateImage1.jpeg" alt="Image Gallery">

                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/AlpineVistasGallery2.PNG" data-fancybox="gallery" data-caption="Alpine Vistas">
                            <img src="~/Content/Images/AlpineVistasGallery2.PNG" alt="Image Gallery">

                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Image_2.jpg" data-fancybox="gallery" data-caption="PVR Anmol">
                            <img src="~/Content/Images/Image_2.jpg" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/PVRAnmolGallery1.PNG" data-fancybox="gallery" data-caption="PVR Anmol">
                            <img src="~/Content/Images/PVRAnmolGallery1.PNG" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/PVR Anmol.png" data-fancybox="gallery" data-caption="PVR Anmol">
                            <img src="~/Content/Images/PVR Anmol.png" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/AlpineSquareGallery2.PNG" data-fancybox="gallery" data-caption="Alpine Squares">
                            <img src="~/Content/Images/AlpineSquareGallery2.PNG" alt="Image Gallery">
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <a href="~/Content/Images/Image_3.jpg" data-fancybox="gallery" data-caption="Alpine Squares">
                            <img src="~/Content/Images/Image_3.jpg" alt="Image Gallery">
                        </a>
                    </div>
                </div>


            </div>
        </main>

    </section>
    <!-- Contact -->
    <!--<section id="statistics">
        <div class="row">
            <div class="text-center col-12">
                <h2 class="tm-text-primary tm-section-title mb-4">Statistics</h2>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-3">
                                <div class="text-white-75 small">Total Projects</div>
                                <div class="text-lg font-weight-bold">19</div>
                            </div>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                            </svg>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-3">
                                <div class="text-white-75 small">Total Bookings</div>
                                <div class="text-lg font-weight-bold">612</div>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign feather-xl text-white-50"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-3">
                                <div class="text-white-75 small">Total Locations</div>
                                <div class="text-lg font-weight-bold">14</div>
                            </div>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
                            </svg>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>-->
    <section id="contact" class="tm-section-pad-top">
        <div class="container tm-container-contact">
            <div class="row">
                <div class="col-12">
                    <h2 style="color:#3496d8" class="mb-4 tm-section-title">Contact Us</h2>
                    <div class="mb-5 tm-underline">
                        <div class="tm-underline-inner"></div>
                    </div>

                    @using (Html.BeginForm("Enquiry", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="padding-top:0px">
                            <div class="col-xs-12 col-sm-12 col-md-12 div">
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                                <form>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Name">Name</label>
                                        </div>
                                        <div class="col-75">
                                            @*<input type="text" id="CustomerName" name="firstname" placeholder="Your name..">*@
                                            @Html.TextBoxFor(m => m.CustomerName, new { type = "text", required = "required", placeholder = "Your name.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Mobile">Mobile</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextBoxFor(m => m.Mobile, new { type = "text", required = "required", placeholder = "Mobile.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Project">Project</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.DropDownListFor(model => model.ProjectID, TempData["ProjectList"] as SelectList, "--Select Project--", new { @class = "text", type = "text" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Enquiry">Enquiry</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextAreaFor(m => m.Enquiry, new { @class = "text", type = "text", required = "required", maxlength = 100 })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" style="background-color:none !important" class="tm-intro-text tm-btn-primary" value="Contact">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    }


                </div>
            </div>
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <style>
                #twitter-widget-holder, .twitter-timeline {
                    height: 800px;
                    padding: 20px;
                    background: #fff;
                    border-radius: 3px;
                    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
                }

                #twitter-widget-holder {
                    max-height: 400px;
                    max-width: 900px;
                    padding: 20px;
                    background: #fff;
                    border-radius: 3px;
                    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
                }


                .twitter-timeline {
                    max-width: 100%;
                    max-height: 1000px;
                }



                .panel-title {
                    font-size: 25px;
                    color: #FFFFFF;
                    font-family: 'Open Sans', sans-serif;
                }

                .panel-heading {
                    background-color: #1da1f2 !important;
                    color: #1da1f2 !important;
                }

                .panel {
                    margin-top: 25px;
                }
            </style>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div id="tfeed" class="container">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-danger">

                                <div class="panel-body">
                                  
                                    @*<a style="font-size:12px;" class="twitter-timeline" href="https://twitter.com/sas_infra_?ref_src=twsrc%5Etfw" width="100%" height="600" data-chrome="transparent noscrollbar">Twitter</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script>
                
            </script>
            <style>
                                #twitter-widget-holder {
                                    max-height: 400px;
                                    max-width: 320px;
                                    padding: 20px;
                                    background: #fff;
                                    border-radius: 3px;
                                    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
                                }

                                /*                style="margin-left:270px;"
                */
                                @@media screen and (min-width: 800px) {
                                    #tfeed {
                                        margin-left: 270px;
                                    }
                                }
            </style>
            <div class="row">
                <div class="col-md-12">
                    <div id="tfeed" class="container">
                        <div class="col-md-6">
                            <div class="panel panel-danger">

                                <div  class="panel-body">
                                    @*<div id="instagram-feed-demo" class="instagram_feed"></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script src="https://www.jqueryscript.net/demo/Instagram-Photos-Without-API-instagramFeed/jquery.instagramFeed.js"></script>

            <script>
                (function ($) {
                    $(window).on('load', function () {
                        $.instagramFeed({
                            'username': 'sri_aditya_squares',
                            'container': "#instagram-feed-demo",
                            'display_captions': false,
                            'display_profile': true,
                            'image_size': 640,
                            'display_biography': false,
                            'display_gallery': true,
                            'get_raw_json': false,
                            'callback': null,
                            'styling': true,
                            'items': 36,
                            'items_per_row': 2,
                            'margin': 0.2,
                            'lazy_load': true,
                        });
                    });
                })(jQuery);

                $(function () {
                    var div = document.getElementsByClassName("instagram_gallery");
                    var scroll = div.scrollTop;
                    // increase the scroll position by 10 px every 10th of a second
                    var original = div.scrollTop; //save the original position
                    setInterval(function () {
                        // make sure it's not at the bottom
                        if (div.scrollTop < div.scrollHeight - div.clientHeight) {
                            $(".instagram_gallery").animate({ scrollTop: scroll + $(".instagram_gallery").height() + 5 }, 3000); // move down one image
                            scroll += $(".instagram_gallery").height() + 5;
                        }
                        else { //if it's at the bottom
                            $(".instagram_gallery").animate({
                                scrollTop: original
                            }, 1000); // move down one image
                            scroll = original;
                        }
                    }, 5000); // 5 second intervals between change so user has two seconds to look a flyer
                });

               

            </script>
            <style>
                .instagram_username {
                    font-size: 15px !important;
                    color: indianred !important;
                }

                .instagram_gallery {
                    overflow-y: scroll;
                    height:250px;
                }


            </style>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <footer class="text-center small tm-footer">
                <p style="color:black" class="mb-0">
                    <b>
                        <b>SRI ADITYA SQUARES</b> <br />
                    </b>
                    3rd floor,above Nissan showroom,peddamma temple metro station,Jubilee Hills,Hyderabad, 500033<br />
                    Reach us at : <b>info@sasinfra.in</b><br />
                    Follow us at : <span><a href="https://www.facebook.com/Sri-Aditya-Squares-100662462080075"><i class="fa fa-facebook fa-lg"></i></a></span>&nbsp; <span><a href="https://www.instagram.com/sri_aditya_squares/"><i class="fa fa-instagram fa-lg"></i></a></span>&nbsp; <span><a href="https://twitter.com/sas_infra_"><i class="fa fa-twitter fa-lg"></i></a></span>&nbsp; <span><a href="https://www.linkedin.com/in/sri-aditya-squares-234949207/"><i class="fa fa-linkedin fa-lg"></i></a></span><br />
                    <b>Copyright &copy; 2020 SRI ADITYA SQUARES</b> <br />
                </p>

            </footer>

    </section>
    <script>

        $(document).ready(function () {

            $('.message-icon').click(function () {
                var x = document.getElementById("chat");
                var y = document.getElementById("body1");
                var z = document.getElementById("msgIcon");
                if (x.style.display === "none") {
                    y.style.display = "block";
                    x.style.display = "flex";
                    x.style.zIndex = "9999";
                    z.style.zIndex = "9999";
                    $("#body1").disableScroll();
                } else {
                    x.style.display = "none";
                    $("#body1").enableScroll();
                    y.style.display = "none";
                }
            });
        });
    </script>
    <script id="quote-template" type="text/x-kendo-template">
        <div id="quote1" class="#=styles.card# #=styles.cardRich#">
            <div class="#=styles.cardBody#">
                <div>
                    <strong>Project Name:</strong>
                    <span>#:project#</span>
                </div>
                <div>
                    <strong>Location:</strong>
                    <span>#:location#</span>
                </div>
                <div>
                    <strong>Club House:</strong>
                    <span>#:chouse#</span>
                </div>

            </div>
        </div>
    </script>




    <script>
        document.getElementById("WebApp").onclick = function () {
            location.href = "https://sasinfra.in/Account/Login";
        };
        $('[data-fancybox="gallery"]').fancybox({
            buttons: [
                "slideShow",
                "thumbs",
                "zoom",
                "fullScreen",
                "share",
                "close"
            ],
            loop: false,
            protect: true
        });

        $(window).load(function () {
            getLocation();
        });

        var x = document.getElementById("demo1");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {

            $("#Latitude").val(position.coords.latitude);
            $("#Longitude").val(position.coords.longitude);
        }

        //document.addEventListener('contextmenu', function (e) {
        //    e.preventDefault();
        //});

        //document.onkeydown = function (e) {
        //    if (event.keyCode == 123) {
        //        return false;
        //    }
        //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
        //        return false;
        //    }
        //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
        //        return false;
        //    }
        //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
        //        return false;
        //    }
        //    if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
        //        return false;
        //    }
        //}
        $.fn.disableScroll = function () {
            window.oldScrollPos = $(window).scrollTop();

            $(window).on('scroll.scrolldisabler', function (event) {
                $(window).scrollTop(window.oldScrollPos);
                event.preventDefault();
            });
        };

        $.fn.enableScroll = function () {
            $(window).off('scroll.scrolldisabler');
        };

        function scrollButtonClick(e) {
            var button = $(e.currentTarget);
            var scrollToLeft = button.find(".k-i-arrow-chevron-left").length !== 0;
            var scrollContainer = $(".k-card-deck").eq(0);
            var lastCard = scrollContainer.find(".k-card").last();
            var cardWidth = lastCard.outerWidth(true);


            if (scrollToLeft) {
                scrollContainer.scrollLeft(scrollContainer.scrollLeft() - cardWidth);
            } else {
                scrollContainer.scrollLeft(scrollContainer.scrollLeft() + cardWidth);
            }
        };

        $(document).ready(function () {
            var cardDeck = $(".k-card-deck-scrollwrap").eq(0);

            cardDeck.on("click", ".k-button-scroll", scrollButtonClick);
        });

    </script>

</body>
<div style="display: none;position: fixed;bottom: 70px;right: 60px;width:350px;background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('/Content/Images/joana.jpg');background-size: cover;" id="chat"></div>

<div id="msgIcon" class="message-icon">
    <img src="~/Content/Images/chatbotDark.png" />
</div>
<div type="button" style="position: fixed; bottom: 60px; left: 20px;" data-toggle="modal" data-target="#myModal">
    <a href="#popup1">


        <img width="64" height="64" src="~/Content/Images/Special-offer_3.gif" />
    </a>
</div>
<div id="popup1" class="overlay1">
    <div class="popup">
        <h2>Vouchers</h2>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <div class="k-card-deck-scrollwrap">

                <div class="k-card-deck">
                    <div style="width:500px !important" class="k-card k-card-type-rich">
                        <img height="450" style="object-fit: contain;" width="500" src="~/Content/Images/Offers.PNG" alt="undefined" class="k-card-image">
                        <div style="background-color: #0095d8" class="k-card-body">


                        </div>

                    </div>

                    @*<div class="k-card k-card-type-rich">
                            <img width=250 height="450" style="object-fit: contain;" src="~/Content/Images/Coupon1.jpg" alt="undefined" class="k-card-image">
                            <div style="background-color: #6fbf12" class="k-card-body">


                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>
</div>

</html>
<script>
    function DownloadBrochure(filename) {
        //$.ajax({
        //    url: '/Customer/DownloadBrochure',
        //    data: { fileName: filename },
        //    type: 'POST',
        //    contentType: false,
        //    processData: false,
        //    success: function () {
        //        toastr.success("Template Downloaded");
        //    }
        //});
        $.get("/Customer/DownloadBrochure", { fileName: filename }, function (data) {
            alert('File Downloading' + data);
        })
    };
</script>
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    // # seconds to animation end
    var animTime = 480000; // ~8 minutes for all tweets with pics, reduce for text-only tweets

    $(function () {
        loadTwitterWidget();
    });

    function loadTwitterWidget() {
        var timelineData = [
            {
                sourceType: "profile",
                screenName: "sas_infra_"
            },
            $("#twit")[0],
            {
                chrome: "noheader nofooter noscrollbar noborders transparent",
                height: 400,
                width: 600
            }
        ];

        // injected iframe element(s) after twitter API finds widgets
        var iframe;

        // element(s) we want to scroll
        var viewport;

        // initial scroll distance
        var initialDistance;

        // restart scroll on new tweet since twttr does not have a new tweet event
        var newTweetObserver = new MutationObserver(scroll);

        // hide elements we do not want to see
        function getElemsToHide() {
            return [
                $(".timeline-InformationCircle", iframe),
                $(".timeline-LoadMore", iframe),
                $(".timeline-NewTweetsNotification", iframe)
            ];
        }

        function hideElements(elems) {
            for (var i = 0; i < elems.length; i++) {
                elems[i].hide();
            }
        }

        function scroll() {
            // reset to top
            viewport.stop().scrollTop(0);

            hideElements(getElemsToHide());

            // calculate new distance assuming height is varied
            var distance =
                viewport.prop("scrollHeight") -
                viewport.prop("scrollTop") -
                viewport.height();

            // calculate duration based on initial speed to ensure uniform scroll speed
            var duration = animTime * (distance / initialDistance);

            // if there is something to scroll
            if (viewport.prop("scrollHeight") > viewport.height()) {
                viewport.animate(
                    {
                        scrollTop: distance
                    },
                    {
                        easing: "linear",
                        duration: duration,
                        done: scroll
                    }
                );
            }
        }

        twttr.ready(function (twttr) {
            // create twitter timeline
            // IE11 can't handle Rest parameters. If you want to support IE11, use the following line instead:
            // twttr.widgets.createTimeline.apply(this, timelineData);
            twttr.widgets.createTimeline(...timelineData);

            // twitter widgets are rendered
            twttr.events.bind("rendered", function (event) {
                // hide "more tweets" links/info buttons that may be injected
                hideElements(getElemsToHide());

                // injected iframe element(s) after twitter API finds widgets
                iframe = $(event.target).contents();

                // element(s) we want to scroll
                viewport = $(".timeline-Viewport", iframe);

                // initial scroll distance
                initialDistance = viewport.prop("scrollHeight") - viewport.height();

                // pass in the target node, as well as the observer options
                newTweetObserver.observe($(".timeline-TweetList", iframe)[0], {
                    childList: true
                });

                scroll();
            });
        });
    }
</script>