@model ModelLayer.CustomerEnquiry
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Town HTML CSS Template</title>
    @*<link rel="stylesheet" href="fontawesome-5.5/css/all.min.css" />*@
    @*<link rel="stylesheet" href="slick/slick.css">
        <link rel="stylesheet" href="slick/slick-theme.css">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Potfolio/slick.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Potfolio/templatemo-style.css" rel="stylesheet" />

    
</head>
<body>
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
            <div class="container">
                <div class="tm-next">
                    <span></span>
                    <a href="#hero" class="navbar-brand">SAS WORKS</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#work">Our Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="text-center tm-hero-text-container">
            @*<div class="tm-hero-text-container-inner">
                    <h2 style="color:beige" class="tm-hero-title">SAS COMPANY</h2>

                </div>*@
        </div>

        <div class="tm-next tm-intro-next">
            <a href="#introduction" class="text-center tm-down-arrow-link">
                <i class="fa fa-3x fa-caret-down tm-down-arrow"></i>
            </a>
        </div>
    </section>

    <section id="introduction" class="tm-section-pad-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <img src="~/Content/Images/sasImage.jpeg" alt="Image" class="img-fluid tm-intro-img" />
                </div>
                <div class="col-lg-6">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                        <p class="mb-4 tm-intro-text">
                            Explain about SAS...
                        </p>
                        <p class="mb-5 tm-intro-text">
                            Give more details
                            Thank you.

                        </p>
                        <div class="tm-next">
                            <a href="#work" class="tm-intro-text tm-btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row tm-section-pad-top">
                <div class="col-lg-4">
                    <i class="fa fa-4x fa-home text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Dream Homes </h4>
                    <p>
                        Four walls and a roof over your head isn’t the only way we define the word ‘home.’ Home is more then just a shelter, it’s where we love, it’s where we feel, it’s where we can be ourselves and it’s where life happens.
                    </p>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <i class="fa fa-4x fa-building text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Apartments</h4>
                    <p>
                        Explain about Apartment..
                    </p>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <i class="fa fa-4x fa-university text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Villas</h4>
                    <p>
                        Explain about villas..
                    </p>
                </div>
            </div>
    </section>
    <section id="work" class="tm-section-pad-top">
        <div class="container tm-container-gallery">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="tm-text-primary tm-section-title mb-4">Our Work</h2>
                    <p class="mx-auto tm-work-description">
                        "Explain about your work.."
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mx-auto tm-gallery-container">
                        <div class="grid tm-gallery">
                            <a href="~/Content/Images/home1.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="~/Content/Images/sdd.jpg" alt="Image" class="img-fluid">

                                    <figcaption>
                                        <h2><i>Lotus <span>Homes</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="~/Content/Images/home1.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="~/Content/Images/sdd.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Jewel <span>County</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="~/Content/Images/home1.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="~/Content/Images/sdd.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Narmada <span>Homes</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            
                            <a href="~/Content/Images/home3.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="~/Content/Images/sdd.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>In <span>The Woods</span></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="img/gallery-img-05.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="img/gallery-tn-05.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Fifth <span>Honey</span> Now</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="img/gallery-img-06.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="img/gallery-tn-06.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Sixth <span>Honey</span> Now</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="img/gallery-img-01.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <a href="img/gallery-img-02.jpg">
                                <figure class="effect-honey tm-gallery-item">
                                    <img src="img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
                                    <figcaption>
                                        <h2><i>Eighth <span>Honey</span> Now</i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
        <div class="container tm-container-contact">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-4 tm-section-title">Contact Us</h2>
                    <div class="mb-5 tm-underline">
                        <div class="tm-underline-inner"></div>
                    </div>
                    <p class="mb-5">

                    </p>

                    @using (Html.BeginForm("Enquiry", "Customer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="padding-top:0px">
                            <div class="col-xs-12 col-sm-12 col-md-12 div">
                                
                                <form>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Name">Name</label>
                                        </div>
                                        <div class="col-75">
                                            @*<input type="text" id="CustomerName" name="firstname" placeholder="Your name..">*@
                                            @Html.TextBoxFor(m => m.CustomerName, new {  type = "text", required = "required",placeholder = "Your name.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Mobile">Mobile</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextBoxFor(m => m.Mobile, new { type = "text", required = "required", placeholder = "Mobile.." })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Project">Project</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.DropDownListFor(model => model.ProjectID, TempData["ProjectList"] as SelectList, "--Select Project--", new { @class = "text", type = "text" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label for="Enquiry">Enquiry</label>
                                        </div>
                                        <div class="col-75">
                                            @Html.TextAreaFor(m => m.Enquiry, new { @class = "text", type = "text", required = "required" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input  type="submit" value="Contact">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>




                    }


                </div>
            </div>
        </div>
        <footer class="text-center small tm-footer">
            <p class="mb-0">
                Copyright &copy; 2020 SAS WORKS


        </footer>

    </section>

    <script src="~/Content/Potfolio/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Potfolio/slick.min.js"></script>
    <script src="~/Content/Potfolio/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Potfolio/jquery.singlePageNav.min.js"></script>
    <script src="~/Content/Potfolio/bootstrap.min.js"></script>
    <script>

        function getOffSet() {
            var _offset = 450;
            var windowHeight = window.innerHeight;

            if (windowHeight > 500) {
                _offset = 400;
            }
            if (windowHeight > 680) {
                _offset = 300
            }
            if (windowHeight > 830) {
                _offset = 210;
            }

            return _offset;
        }

        function setParallaxPosition($doc, multiplier, $object) {
            var offset = getOffSet();
            var from_top = $doc.scrollTop(),
                bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
            $object.css({ "background-position": bg_css });
        }

        // Parallax function
        // Adapted based on https://codepen.io/roborich/pen/wpAsm
        var background_image_parallax = function ($object, multiplier, forceSet) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            // $object.css({"background-attatchment" : "fixed"});

            if (forceSet) {
                setParallaxPosition($doc, multiplier, $object);
            } else {
                $(window).scroll(function () {
                    setParallaxPosition($doc, multiplier, $object);
                });
            }
        };

        var background_image_parallax_2 = function ($object, multiplier) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            $object.css({ "background-attachment": "fixed" });
            $(window).scroll(function () {
                var firstTop = $object.offset().top,
                    pos = $(window).scrollTop(),
                    yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                var bg_css = 'center ' + yPos + 'px';

                $object.css({ "background-position": bg_css });
            });
        };

        $(function () {
            // Hero Section - Background Parallax
            background_image_parallax($(".tm-parallax"), 0.30, false);
            background_image_parallax_2($("#contact"), 0.80);

            // Handle window resize
            window.addEventListener('resize', function () {
                background_image_parallax($(".tm-parallax"), 0.30, true);
            }, true);

            // Detect window scroll and update navbar
            $(window).scroll(function (e) {
                if ($(document).scrollTop() > 120) {
                    $('.tm-navbar').addClass("scroll");
                } else {
                    $('.tm-navbar').removeClass("scroll");
                }
            });

            // Close mobile menu after click
            $('#tmNav a').on('click', function () {
                $('.navbar-collapse').removeClass('show');
            })

            // Scroll to corresponding section with animation
            $('#tmNav').singlePageNav();

            // Add smooth scrolling to all links
            // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
            $("a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 400, function () {
                        window.location.hash = hash;
                    });
                } // End if
            });

            // Pop up
            $('.tm-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: { enabled: true }
            });

            // Gallery
            $('.tm-gallery').slick({
                dots: true,
                infinite: false,
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });
    </script>
</body>
</html>