@model ModelLayer.Report
@{
    ViewBag.Title = "PaymentInfoReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Reports = "active";
    ViewBag.PaymentInfoReport = "active";
}

<div class="jumbotron" style="background-color:white">

    <div class="row">
        <div class="col-md-12 col-xs" style="margin-top:0px">
            <h3 style="margin-top:0px;margin-bottom:4px" align="left">PAYMENT INFORMATION</h3>
            <div class="specialLine col-md-1"></div>
        </div>

    </div>

    <div class="row" style="margin-top:20px">
        @Html.LabelFor(m => m.Project, new { @class = "col-md-1" })
        <div class="col-md-3 col-xs">
            @Html.DropDownListFor(m => m.Project, ViewBag.ProjectList as SelectList, new { multiple = "multiple", @class = "js-select2-multi" })
        </div>
        @Html.LabelFor(m => m.From, new { @class = "col-md-1" })

        <div class="col-md-2">
            <input id="datepicker1" title="datepicker" />
        </div>

        @Html.LabelFor(m => m.To, new { @class = "col-md-1" })
        <div class="col-md-2">
            <input id="datepicker2" title="datepicker" />
        </div>

        @*@Html.ValidationMessageFor(m=>m.Name ,"",new { @class = "text-danger" })*@
        <div class="col-md-12 col-xs">
            <button type="submit" id="submitbtn" value="New" class="btn btn-default orangebg pull-right">Show</button>
        </div>
    </div>
    <hr />
    <br />
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
        <div id="grid"></div>
    </div>


</div>
<script type="text/x-kendo-template" id="searchtemplate">
    <div class="toolbar">

        <div>
            <a data-toggle="tooltip" title="Export to Excel" class="k-button k-button-icontext k-grid-excel" href="\#"><i class="fa fa-file-excel-o fa-lg"></i></a>
        </div>

    </div>

</script>

<script>
    var canDisplay = '@ViewBag.CanDisplay';
    var hidden = false;
    if (canDisplay == 'False') {
        hidden = true;
    }
        $(document).ready(function(){
             $(".js-select2").select2();
        $(".js-select2-multi").select2();

        $(".large").select2({
         dropdownCssClass: "big-drop",
        });
     });



        $("#datepicker1").kendoDatePicker();
        $("#datepicker2").kendoDatePicker();
        $(document).ready(function () {
            $("#grid").hide();
            $("#grid").kendoGrid({
                toolbar: ["search", "excel"],
                excelExport: exportGridWithTemplatesContent,
        excel: {
            fileName: "PaymentInformation.xlsx",
            filterable: true,
            //proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
            allPages: true
                },

                dataSource: {
                    data: null,
                    //schema: {
                    //    model: {
                    //        fields: {
                    //            ProductName: { type: "string" },
                    //            UnitPrice: { type: "number" },
                    //            UnitsInStock: { type: "number" },
                    //            Discontinued: { type: "boolean" }
                    //        }
                    //    }
                    //},
                },
                //height: 550,
                width: 'auto',
                sortable: true,
                batch: true,
                sortable: true,
                pageable: true,
                filterable: true,
                columns: [
                    { field: "projectname", title: "PROJECT" ,width :120},
                    { field: "towername", title: "TOWER",width :120 },
                    { field: "flatname", title: "FLAT", width: 120 },
                    { field: "name", title: "CUSTOMER", width: 120 },

                    { field: "agentname", title: "AGENT", width: 120, hidden: hidden },
                    { field: "PaymentMode", title: "PAY MODE", width: 120 },
                    { field: "ReferenceNo", title: "REF NO", width: 120 },

                    { field: "BookingAmount", title: "AMOUNT PAID" ,width: 140 },
                    { field: "BalanceAmount", title: "AMOUNT REM" ,width: 140},
                    { field: "ChequeDate", title: "CHEQUE DATE", width: 140, template: '#= kendo.toString(kendo.parseDate(ChequeDate), "dd/MM/yyyy")#' },
                    { field: "DueDate", title: "DUE DATE", width: 120, template: '#= kendo.toString(kendo.parseDate(DueDate), "dd/MM/yyyy")#' },
                    { field: "year" ,title: "YEAR" , width :90},
                    { field: "month" ,title: "MONTH" , width :90},
                    { field: "day" ,title: "DAY", width :90 }

                ],


            });
        });



    function exportGridWithTemplatesContent(e) {
        var data = e.data;
        var gridColumns = e.sender.columns;
        var sheet = e.workbook.sheets[0];
        var visibleGridColumns = [];
        var columnTemplates = [];
        var dataItem;
        // Create element to generate templates in.
        var elem = document.createElement('div');

        // Get a list of visible columns
        for (var i = 0; i < gridColumns.length; i++) {
            if (!gridColumns[i].hidden) {
                visibleGridColumns.push(gridColumns[i]);
            }
        }

        // Create a collection of the column templates, together with the current column index
        for (var i = 0; i < visibleGridColumns.length; i++) {
            if (visibleGridColumns[i].template) {
                columnTemplates.push({ cellIndex: i, template: kendo.template(visibleGridColumns[i].template) });
            }
        }

        // Traverse all exported rows.
        for (var i = 1; i < sheet.rows.length; i++) {
            var row = sheet.rows[i];
            // Traverse the column templates and apply them for each row at the stored column position.

            // Get the data item corresponding to the current row.
            var dataItem = data[i - 1];
            for (var j = 0; j < columnTemplates.length; j++) {
                var columnTemplate = columnTemplates[j];
                // Generate the template content for the current cell.
                elem.innerHTML = columnTemplate.template(dataItem);
                if (row.cells[columnTemplate.cellIndex] != undefined)
                    // Output the text content of the templated cell into the exported cell.
                    row.cells[columnTemplate.cellIndex].value = elem.textContent || elem.innerText || "";
            }
        }
    }
    //canDisplay = '@ViewBag.CanDisplay'
    $("#submitbtn").click(function () {
            canDisplay = '@ViewBag.CanDisplay'
            if ($("#Project").val() == null) {
                toastr.error("Please select a project");
                return;
            }
            if ($("#datepicker1").data("kendoDatePicker").value() == null) {
                toastr.error("Please select From Date");
                return;
            }
            if ($("#datepicker2").data("kendoDatePicker").value() == null) {
                toastr.error("Please select To Date");
                return;
            }

            var fromDate = kendo.toString($("#datepicker1").data("kendoDatePicker").value(), 'MM/dd/yyyy');
            var toDate = kendo.toString($("#datepicker2").data("kendoDatePicker").value(), 'MM/dd/yyyy');
            $.ajax({
            type: "GET",
            url: '@Url.Action("GetPaymentReportbyDate", "Report")',
                contentType: "application/json; charset=utf-8",
                data: { start: fromDate, end: toDate, projectID: $("#Project").val().toString() },
            dataType: "json",
            success: function (result) {

            var grid = $("#grid").data("kendoGrid");
                var dataSource = new kendo.data.DataSource({ pageSize: 10, data: result });
            grid.setDataSource(dataSource);
            grid.dataSource.read();
            //$("#grid").height(400);
            $('#grid .k-grid-content').height(360);
            $("#grid").show();

            },

            });
            });



</script>


<style>

    .select2 {
        width: 100% !important;
    }

    .k-pager-wrap.k-pager-md .k-pager-info, .k-pager-wrap.k-pager-sm .k-pager-info {
        display: block !important;
    }
    /*.k-i-calendar {
        background-image: url('../../Content/Images/calendar.png');
        background-position: center !important;
        border: none;
        height: 16px !important;
        padding-bottom: 2px;
    }*/

    /*k-i-file-excel {
        background-image: url('../../Content/Images/icons8-microsoft-excel-64.png');
    }*/
</style>
