@model ModelLayer.PaymentInformation
@{
    ViewBag.Title = "FlatLifeCycle";
    ViewBag.FlatLifeCycle = "active";
    ViewBag.Dashboard = "active";

}
<style>
    .holder {
        /*            //background-color: #ccc;
    */ width: 300px;
        height: 250px;
        overflow: hidden;
        padding: 10px;
        font-family: Helvetica;
    }

        .holder .mask {
            position: fixed;
            top: 50px !important;
            right: 10px !important;
            width: 300px;
            height: 400px;
            overflow: hidden;
        }

        .holder ul {
            list-style: none !important;
            margin: 0 !important;
            padding: 0 !important;
            position: relative !important;
        }

            .holder ul li {
                padding: 10px 0px;
            }

                .holder ul li a {
                    color: darkred;
                    text-decoration: none;
                }
</style>
<style>

    @@media (min-width: 768px) {

        .container {
            margin-left: 350px;
        }

        .jumbotron {
            width: 1400px;
        }
    }
</style>
<script>
    jQuery.fn.liScroll = function (settings) {
        settings = jQuery.extend({
            travelocity: 0.03
        }, settings);
        return this.each(function () {
            var $strip = jQuery(this);
            $strip.addClass("newsticker")
            var stripHeight = 1;
            $strip.find("li").each(function (i) {
                stripHeight += jQuery(this, i).outerHeight(true); // thanks to Michael Haszprunar and Fabien Volpi
            });
            var $mask = $strip.wrap("<div class='mask'></div>");
            var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");
            var containerHeight = $strip.parent().parent().height();	//a.k.a. 'mask' width
            $strip.height(stripHeight);
            var totalTravel = stripHeight;
            var defTiming = totalTravel / settings.travelocity;	// thanks to Scott Waye
            function scrollnews(spazio, tempo) {
                $strip.animate({ top: '-=' + spazio }, tempo, "linear", function () { $strip.css("top", containerHeight); scrollnews(totalTravel, defTiming); });
            }
            scrollnews(totalTravel, defTiming);
            $strip.hover(function () {
                jQuery(this).stop();
            },
                function () {
                    var offset = jQuery(this).offset();
                    var residualSpace = offset.top + stripHeight;
                    var residualTime = residualSpace / settings.travelocity;
                    scrollnews(residualSpace, residualTime);
                });
        });
    };

    $(function () {
        $("ul#ticker01").liScroll();
    });
</script>
<div id="jumbo" class="jumbotron" style="padding-bottom:2px;margin-bottom:2px;">
    @*<div class="row">
            <div class="col-md-1 col-xs">
                <h3 align="center" style="margin-bottom:2px">FLAT LIFECYCLE</h3>
                <div class="specialLine"></div>
            </div>

        </div>*@
    <div class="row">
        <div class="col-md-12 col-xs" style="margin-top:0px">
            <h3 style="margin-top:0px;margin-bottom:4px" align="left">FLAT LIFE CYCLE</h3>
            <div class="specialLine col-md-1"></div>
        </div>

    </div>
    <div class="row" style="padding-top:10px">
        @Html.LabelFor(m => m.ProjectID, new { @class = "col-md-1" })
        @Html.DropDownListFor(model => model.ProjectID, TempData["ProjectList"] as SelectList, "--Select Project--", new { @class = "textbox-control col-md-3 col-xs" })
        @Html.LabelFor(m => m.TowerID, new { @class = "col-md-1" })
        @Html.DropDownListFor(model => model.TowerID, new SelectList(" "), "--Select Tower--", new { @class = "textbox-control col-md-3 col-xs" })
        @Html.LabelFor(m => m.FlatID, new { @class = "col-md-1" })
        @Html.DropDownListFor(model => model.FlatID, new SelectList(" "), "--Select Flat--", new { @class = "textbox-control col-md-3 col-xs" })
    </div>
    <div class="row" style="padding-top:10px">
        <div style="align-items:center;align-content:center" class="col-md-6 col-xs">
            <label>
                Name :
            </label>
            <label id="spanNAME">
            </label>
        </div>
        <div class="col-md-6 col-xs">
            <label>
                Scheme :
            </label>
            <label id="spanScheme">
            </label>
        </div>

    </div>
    <div class="row">
        <ul class="poll-results">
            <li>
                <h4>Completion Percentage</h4>
                <div id="flatProgress"></div>
            </li>

        </ul>
    </div>
    <div class="row" style="padding-top:20px">

        <div class="col-md-12 col-sm-12 col-xs-12" id="timelinePosition">
            <br />
            <div style="overflow:auto;height:700px;" id="bookingstatus"></div>
        </div>
    </div>
</div>


<div class="holder">
    <ul id="ticker01">
        @if (ViewBag.News != null)
        {
            foreach (var item in ViewBag.News)
            {
                <li>
                    <span style="color:cornflowerblue;font-size:18px">@item.NewsDate</span>
                    <br><a style="font-size: 18px" href="#">@item.News</a>
                </li>
            }

        }
    </ul>
</div>

<script>
    var html = '';
    var progressbars = [];
    $(".poll-results div").each(function () {
        var pb = $(this).kendoProgressBar({
            type: "percent",
            animation: {
                duration: 600
            }
        }).data("kendoProgressBar");
        progressbars.push(pb);
    });


    $("#ProjectID").change(function () {
        $.get("/Booking/GetTowers", { ProjectId: $("#ProjectID").val() }, function (data) {
            //HideDiv();
            $("#TowerID").empty();
            $("#TowerID").append("<option value='" + 0 + "'>" + "--Select Tower--" + "</option>")
            $("#FlatID").empty();
            $("#FlatID").append("<option value='" + 0 + "'>" + "--Select Flat--" + "</option>")
            $.each(data, function (index, row) {
                $("#TowerID").append("<option value='" + row.TowerID + "'>" + row.TowerName + "</option>")
            });
        });
    });

    $("#TowerID").change(function () {

        $.get("/Booking/GetFlatsExceptOpen", { TowerID: $("#TowerID").val() }, function (data) {
            //$("#TowerID").empty();
            //$("#TowerID").append("<option value='" + 0 + "'>" + "--Select Tower--" + "</option>")
            //HideDiv();
            $("#FlatID").empty();
            $("#FlatID").append("<option value='" + 0 + "'>" + "--Select Flat--" + "</option>")
            $.each(data, function (index, row) {
                $("#FlatID").append("<option value='" + row.FlatID + "'>" + row.FlatName + "</option>")
            });
        });
    });

    $("#FlatID").change(function () {
        var html = '';
        var percentage = 0;
        $.get("/Dashboard/GetFlatLifeCycle", { flatID: $("#FlatID").val() }, function (data) {

            $.each(data, function (index, row) {
                if (index == 0) {
                    percentage = row.PercentageCompleted
                    html = '<div  class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2"><ul class="timeline">';
                    html = html + ' <li class="timeline-item"> <div class="timeline-info"><span>' + row.CreatedDate + '</span> </div><div class="timeline-marker"></div> <div class="timeline-content"><h3 style="color:#ea4f4c" class="timeline-title">' + row.FlatEvent + '</h3><p style="width:230px" >BOOKING AMOUNT :<b> Rs. </b><b style="color:BLACK">' + row.BookingAmount + '</b></p><p style="width:230px" >BALANCE AMOUNT :<b> Rs. </b><b style="color:BLACK">' + row.BalanceAmount + '</b></p> </div></li>'
                    $("#spanNAME").text(row.Name);
                    $("#spanScheme").text(row.SchemeName);
                }
                else {
                    if (row.BalanceAmount != 0) {
                        html = html + ' <li class="timeline-item"> <div class="timeline-info"><span>' + row.CreatedDate + '</span> </div><div class="timeline-marker"></div> <div class="timeline-content"><h3 style="color:#ea4f4c" class="timeline-title">' + row.FlatEvent + '</h3><p style="width:230px" >AMOUNT PAID :<b> Rs. </b><b style="color:BLACK">' + row.BookingAmount + '</b></p><p style="width:230px" >BALANCE AMOUNT :<b> Rs. </b><b style="color:BLACK">' + row.BalanceAmount + '</b></p> </div></li>'
                    }
                    else {
                        html = html + ' <li class="timeline-item"> <div class="timeline-info"><span>' + row.CreatedDate + '</span> </div><div class="timeline-marker"></div> <div class="timeline-content"><h3 style="color:#ea4f4c" class="timeline-title">' + row.FlatEvent + '</h3><p style="width:230px" >FINAL PAYMENT :<b> Rs. </b><b style="color:BLACK">' + row.BookingAmount + '</b></p><p style="width:230px" >BALANCE AMOUNT :<b> Rs. </b><b style="color:BLACK">' + row.BalanceAmount + '</b></p> </div></li>'
                    }
                }

            })
            html = html + ' </ul></div>';

            $('#flatProgress').data("kendoProgressBar").value(percentage)
            $('#bookingstatus').html(html);

        })
    });
</script>
<style>
    #bookingstatus {
        height: 550px;
    }

    @@media screen and (max-width: 700px) {
        #bookingstatus {
            height: 250px;
        }
    }

    .demo-section h2 {
        font-weight: normal;
        margin-bottom: 15px;
    }

    .forms {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .forms label {
            display: block;
            font-size: 12px;
            line-height: 1em;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1em;
        }

        .forms li {
            margin-bottom: 1.5em;
        }

    #voteButton {
        width: 100%;
    }

    .poll-results {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .poll-results li:after {
            content: "";
            display: block;
            clear: both;
            height: 3px;
            line-height: 0;
        }

        .poll-results .k-progressbar {
            margin-bottom: 1.5em;
            width: 100%;
        }

    .k-progress-status {
        font-weight: 800;
    }
</style>
