
@{
    ViewBag.Dashboard = "active";
    ViewBag.Statistics = "active";
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Scripts/Dashboard/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="~/Scripts/Dashboard/demo.css" rel="stylesheet" />

    <script src="~/Scripts/Dashboard/bootstrap-material-design.min.js"></script>
    <script src="~/Scripts/Dashboard/chartist.min.js"></script>
</head>
<style>

    @@media (min-width: 768px) {

        .container {
            margin-left: 350px;
        }

        .jumbotron {
            width: 1500px;
        }
    }
</style>
<div style="background-color:black" class="jumbotron">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">

                                <i class="fa fa-building"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>PROJECTS</b></p>
                            <h3 class="card-title">
                                @ViewBag.Projects
                            </h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-ticket"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>BOOKINGS</b></p>
                            <h3 class="card-title">@ViewBag.Bookings</h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-map"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>LOCATIONS</b></p>
                            <h3 class="card-title">@ViewBag.Locations</h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-id-card"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>IBO</b></p>
                            <h3 class="card-title">@ViewBag.IBOCount</h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("Agent"))
            {
                <div class="row">
                    <div style="background-color:white" class="scroll-left">
                        <a style="font-size:x-large;font-weight:bolder;" href="/Franchise/Register">Click to Navigate to Franchise Registration!</a>

                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="BookingChart"></div>


                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Daily Bookings</h3>

                            <p class="card-category">


                                @if (ViewBag.isBookingGrowth == null || !ViewBag.isBookingGrowth)
                                {
                                    <span style="font-size:14px" class="text-danger"><i class="fa fa-long-arrow-down"></i> @ViewBag.BookingGrowth % </span><span style="font-size:14px">decrease in daily sales.</span>
                                }
                                else
                                {
                                    <span style="font-size:14px" class="text-success"><i class="fa fa-long-arrow-up"></i> @ViewBag.BookingGrowth % </span><span style="font-size:14px">increase in daily sales.</span>

                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-ticket"><b> New Bookings added today : @ViewBag.TodayBooking</b></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="PaymentChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Payments Received</h3>
                            <p class="card-category">
                                @if (ViewBag.isPaymentGrowth == null || !ViewBag.isPaymentGrowth)
                                {
                                    <span style="font-size:14px" class="text-danger"><i class="fa fa-long-arrow-down"></i> @ViewBag.PaymentGrowth % </span><span style="font-size:14px">decrease in payments today.</span>
                                }
                                else
                                {
                                    <span style="font-size:14px" class="text-success"><i class="fa fa-long-arrow-up"></i> @ViewBag.PaymentGrowth % </span><span style="font-size:14px">increase in payments today.</span>

                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-dollar"><b> New Payments added today : @ViewBag.TodayPaymentCount</b></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="IBOChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">New IBO</h3>
                            <p class="card-category">
                                @if (ViewBag.isIBOGrowth == null || !ViewBag.isIBOGrowth)
                                {
                                    <span style="font-size:14px" class="text-danger"><i class="fa fa-long-arrow-down"></i> @ViewBag.IBOGrowth % </span><span style="font-size:14px">decrease in IBO today.</span>
                                }
                                else
                                {
                                    <span style="font-size:14px" class="text-success"><i class="fa fa-long-arrow-up"></i> @ViewBag.IBOGrowth % </span><span style="font-size:14px">increase in IBO today.</span>
                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-users"><b> New IBO added today : @ViewBag.TodayIBOCount</b></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-info">
                            <div id="chart" style="background-size:cover;align-content:center;align-items:center;color: orange"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><b>DAILY EXPENSES</b></h3>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div id="chart1" style="background-size:cover;align-content:center;align-items:center;color: orange"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title"><b>LANDLORD PAYMENTS</b></h3>

                        </div>

                    </div>
                </div>
            </div>
            }
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">PAYMENTS DUE IN 7 DAYS</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-info">
                                <th>PROJECT</th>
                                @*<th>TOWER</th>*@
                                <th style="width:100px;">FLAT</th>
                                <th>CUSTOMER</th>
                                <th>IBO</th>
                                </thead>
                                <tbody>
                                    @if (ViewBag.PaymentDuesCount > 0)
                                    {
                                        foreach (var item in ViewBag.PaymentDues)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TowerName-@item.FlatName
                                                </td>
                                                <td>
                                                    @item.CustomerName
                                                </td>
                                                <td>
                                                    @item.AgentName
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                No Payment Dues in 7 days
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">TOP 5 IBO IN LAST 30 DAYS</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                <th>ID</th>
                                <th>NAME</th>
                                <th>BOOKINGS</th>

                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.TopIBO)
                                    {
                                        <tr>
                                            <td>
                                                @item.AgentID
                                            </td>
                                            <td>
                                                @item.AgentName
                                            </td>
                                            <td>
                                                @item.BookingsCount
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">NEW BOOKINGS</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-success">
                                <th>PROJECT</th>
                                <th>FLAT</th>
                                <th>IBO</th>
                                <th>DATE</th>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.RecentBooking)
                                    {
                                        <tr>
                                            <td>
                                                @item.ProjectName
                                            </td>

                                            <td>
                                                @item.TowerName-@item.FlatName
                                            </td>
                                            <td>
                                                @item.AgentName
                                            </td>
                                            <td>
                                                @Convert.ToDateTime(@item.CreatedDate).Date.ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">NEW IBO</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-danger">
                                <th>ID</th>
                                <th>NAME</th>
                                <th>DATE</th>

                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.RecentAgents)
                                    {
                                        <tr>
                                            <td>
                                                @item.AgentCode
                                            </td>
                                            <td>
                                                @item.AgentName
                                            </td>
                                            <td>
                                                @Convert.ToDateTime(@item.CreatedDate).Date.ToString("dd/MM/yyyy")
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            }
            @if (User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-rose">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PROJECT WISE TRANSACTIONS</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;" class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-rose">
                                    <th>PROJECT</th>
                                    <th>SALES AMOUNT</th>
                                    <th>COLLECTED AMOUNT</th>
                                    <th>BALANCE AMOUNT</th>
                                    <th>SCHEMEWISE DUE</th>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.ProjectTransactions)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TotalSalesAmount
                                                </td>
                                                <td>
                                                    @item.CollectedAmount
                                                </td>
                                                <td>
                                                    @item.BalanceAmount
                                                </td>
                                                <td>
                                                    @item.SchemeWiseDue
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PROJECT WISE AREA DETAILS</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;" class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                    <th>PROJECT</th>
                                    <th>TOTAL SFT</th>
                                    <th>SOLD SFT</th>
                                    <th>REMAINING SFT</th>

                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.AreaRem)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TotalSft
                                                </td>
                                                <td>
                                                    @item.SoldSft
                                                </td>
                                                <td>
                                                    @item.RemSft
                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-info">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">NEW PAYMENTS</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-info">
                                    <th>PROJECT</th>
                                    <th>FLAT</th>
                                    <th>AMOUNT</th>
                                    @*<th>DATE</th>*@
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.RecentPayments)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>

                                                <td>
                                                    @item.TowerName-@item.FlatName
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.BookingAmount
                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">RECENT EXPENSES</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>PAID TO</th>
                                    <th>PARTICULARS</th>
                                    <th>AMOUNT</th>
                                    @*<th>DATE</th>*@
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.RecentExpenses)
                                        {
                                            <tr>
                                                <td>
                                                    @item.PaidTo.ToUpper()
                                                </td>
                                                <td>
                                                    @item.Particulars.ToUpper()
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.Amount
                                                </td>
                                                @*<td>
                                                @Convert.ToDateTime(@item.CreatedDate).Date.ToString("dd/MM/yyyy")
                                            </td>*@

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PAST DUE DATE(NO PAYMENT RECEIVED)</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;" class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-danger">
                                    <th>PROJECT</th>
                                    <th>TOWER</th>
                                    <th>FLAT</th>
                                    <th>AGENT</th>
                                    <th>DUE AMOUNT</th>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.PastDue)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TowerName
                                                </td>
                                                <td>
                                                    @item.FlatName
                                                </td>
                                                <td>
                                                    @item.AgentName
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.DueAmount
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PROJECT CATEGORY WISE EXPENSES</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;" class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                    <th>PROJECT</th>
                                    <th>EXPENSE CATEGORY</th>
                                    <th>EXPENSE AMOUNT</th>

                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.ProjectCategoryWiseExpenses)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.SubCategory
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.ExpenseAmount
                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<style>
    tr td {
        font-weight: bold !important;
        font-size: 12px !important;
    }

    th {
        font-weight: bold !important;
        font-size: 12px !important;
    }
</style>
<script>
    Charts();

    function Charts() {

        dataBookingChart = {
            labels: @ViewBag.xBookingGraph,
            series: [
                    @ViewBag.yBookingGraph
            ]
        };
        var str = '@ViewBag.yBookingGraph'
        var max1 = Math.max(...str.match(/\d+/g).map(Number));

        optionsBookingChart = {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0
            }),
            low: 0,
            high: max1+2,
            chartPadding: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
            },
        }

        var BookingChart = new Chartist.Line('#BookingChart', dataBookingChart, optionsBookingChart);


        var dataPaymentChart = {
            labels: @ViewBag.xPaymentGraph,
            series: [
                @ViewBag.yPaymentGraph
            ],
            distributeSeries: true
        };

        var str = '@ViewBag.yPaymentGraph'
        var max2 = Math.max(...str.match(/\d+/g).map(Number));
        var optionsPaymentChart = {
            axisX: {
                showGrid: true
            },
            low: 0,
            high: max2+2,
            chartPadding: {
                top: 0,
                right: 5,
                bottom: 0,
                left: 0
            }
        };
        var responsiveOptions = [
            ['screen and (max-width: 640px)', {
                seriesBarDistance: 5,
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value[0];
                    }
                }
            }]
        ];
        var PaymentChart = Chartist.Bar('#PaymentChart', dataPaymentChart, optionsPaymentChart);


        dataIBOChart = {
            labels: @ViewBag.xIBOGraph,
            series: [
                @ViewBag.yIBOGraph
            ]
        };

        var str = '@ViewBag.yIBOGraph'
        var max3 = Math.max(...str.match(/\d+/g).map(Number));


        optionsIBOChart = {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0
            }),
            low: 0,
            high: max3+2,
            chartPadding: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
            }
        }

        var IBOChart = new Chartist.Line('#IBOChart', dataIBOChart, optionsIBOChart);

        @*dataDailyExpenseChart = {

            labels: @Html.Raw(ViewBag.xDailyExpenseGraph),
            series: [
                @ViewBag.yDailyExpenseGraph
            ],

        };

        var str = '@ViewBag.yDailyExpenseGraph'
        var max3 = Math.max(...str.match(/\d+/g).map(Number));


        optionsDailyExpenseChart = {
            axisX: {
                showGrid: true
            },
            low: 0,
            high: 50000,
            chartPadding: {
                top: 0,
                right: 5,
                bottom: 0,
                left: 0
            },
            fullWidth: true,
            plugins: [
                Chartist.plugins.tooltip()
            ]
        }

        var DailyExpenseChart = new Chartist.Bar('#DailyExpenseChart', dataDailyExpenseChart, optionsDailyExpenseChart);*@
        //$(document).bind("kendo:skinChange",  createChart(@Html.Raw(ViewBag.lstDailyExpenses));
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDailyExpensesChart", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            //data: { projectID: $("#Project").val(), fromDate: fromDate, toDate: toDate },
            dataType: "json",
            success: function (data) {
                $(document).ready(createChart(data,'chart','Daily Expenses'));
                $(document).bind("kendo:skinChange", createChart(data, 'chart', 'Daily Expenses','#26aadd'));
            },

        });

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetLandlordPaymentChart", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            //data: { projectID: $("#Project").val(), fromDate: fromDate, toDate: toDate },
            dataType: "json",
            success: function (data) {
                $(document).ready(createChart(data, 'chart1'));
                $(document).bind("kendo:skinChange", createChart(data, 'chart1', 'Landlord Payments','#43a047'));
            },

        });
    }

    function createChart(data,chartID,name,barColor) {
        // alert(data.xaxis);

        var xaxis = data.map(function (val) {
            return val.xaxis;
        }).join(',');
        var yaxis = data.map(function (val) {
            return val.yaxis;
        }).join(',');
        var peak = Math.max.apply(Math, data.map(function (o) { return o.xaxis; }))+2;
        //peak = 10000000;
        var chartHeight = '';
        var a = xaxis.split(',');
        var b = yaxis.split(',');
        if (data.length > 6) {
            chartHeight = data.length * 28;
        }
        else
            chartHeight = data.length * 200;


        $("#" + chartID).css("height", 350);
        var projectText = '';
        


        $("#" + chartID).kendoChart({
            pdf: {
                fileName: "Bookings Per Project.pdf"
            },
            title: {
                text: name,
                font: "bolder 16px Arial,Helvetica,sans-serif",
                color: "black",
            },
            legend: {
                visible: true,
                position: "top",
                item: {
                    visual: createLegendItem
                }
            },

            seriesDefaults: {
                type: "bar",
                stack: true,
                labels: {
                    template: "#=stackValue#",
                    visible: true,
                    font: "bold 12px Arial,Helvetica,sans-serif",
                    color: "black"
                },
                //visual: function (e) {
                //    return createColumn(e.rect, e.options.color);
                //}
            },
            series: [{
                name: "Amount in Rs.",
                data: a,
                color: barColor
            }],
            valueAxis: {
                max: peak,
                line: {
                    visible: true
                },
                minorGridLines: {
                    visible: true
                }
            },
            categoryAxis: {
                categories: b,
                majorGridLines: {
                    visible: true
                },
                labels: {
                    rotation: "auto"
                }
            },
            //pannable: {
            //    lock: "y"
            //},
            //zoomable: {
            //    mousewheel: {
            //        lock: "y"
            //    },
            //    selection: {
            //        lock: "y"
            //    }
            //},
            tooltip: {
                visible: true,
                template: "#= value #"
            }
        });
    }

    var drawing = kendo.drawing;
    var geometry = kendo.geometry;
    function createColumn(rect, color) {
        var origin = rect.origin;
        var center = rect.center();
        var bottomRight = rect.bottomRight();
        var radiusX = rect.width() / 2;
        var radiusY = radiusX / 3;
        var gradient = new drawing.LinearGradient({
            stops: [{
                offset: 0,
                color: color
            }, {
                offset: 0.5,
                color: color,
                opacity: 0.9
            }, {
                offset: 0.5,
                color: color,
                opacity: 0.9
            }, {
                offset: 1,
                color: color
            }]
        });

        var path = new drawing.Path({
            fill: gradient,
            stroke: {
                color: "none"
            }
        }).moveTo(origin.x, origin.y)
            .lineTo(origin.x, bottomRight.y)
            .arc(180, 0, radiusX, radiusY, true)
            .lineTo(bottomRight.x, origin.y)
            .arc(0, 180, radiusX, radiusY);

        var topArcGeometry = new geometry.Arc([center.x, origin.y], {
            startAngle: 0,
            endAngle: 360,
            radiusX: radiusX,
            radiusY: radiusY
        });

        var topArc = new drawing.Arc(topArcGeometry, {
            fill: {
                color: color
            },
            stroke: {
                color: "#ebebeb"
            }
        });
        var group = new drawing.Group();
        group.append(path, topArc);
        return group;
    }

    function createLegendItem(e) {
        var color = e.options.markers.background;
        var labelColor = e.options.labels.color;
        var rect = new geometry.Rect([0, 0], [120, 50]);
        var layout = new drawing.Layout(rect, {
            spacing: 5,
            alignItems: "center"
        });

        var overlay = drawing.Path.fromRect(rect, {
            fill: {
                color: "#fff",
                opacity: 0
            },
            stroke: {
                color: "none"
            },
            cursor: "pointer"
        });

        var column = createColumn(new geometry.Rect([0, 0], [15, 10]), color);
        var label = new drawing.Text(e.series.name, [0, 0], {
            fill: {
                color: labelColor
            }
        })

        layout.append(column, label);
        layout.reflow();

        var group = new drawing.Group().append(layout, overlay);

        return group;
    }










</script>