
@{
    ViewBag.Dashboard = "active";
    ViewBag.Statistics = "active";
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Scripts/Dashboard/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <link href="~/Scripts/Dashboard/demo.css" rel="stylesheet" />

    <script src="~/Scripts/Dashboard/bootstrap-material-design.min.js"></script>
    <script src="~/Scripts/Dashboard/chartist.min.js"></script>
</head>
<style>

    @@media (min-width: 768px) {

        .container {
            margin-left: 350px;
        }

        .jumbotron {
            width: 1500px;
        }
    }
</style>
<div style="background-color:black" class="jumbotron">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">

                                <i class="fa fa-building"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>PROJECTS</b></p>
                            <h3 class="card-title">
                                @ViewBag.Projects
                            </h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-ticket"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>BOOKINGS</b></p>
                            <h3 class="card-title">@ViewBag.Bookings</h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-map"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>LOCATIONS</b></p>
                            <h3 class="card-title">@ViewBag.Locations</h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-id-card"></i>
                            </div>
                            <p style="font-weight:bold !important" class="card-category"><b>IBO</b></p>
                            <h3 class="card-title">@ViewBag.IBOCount</h3>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
            @if (User.IsInRole("Agent"))
            {
                <div class="row">
                    <div style="background-color:white" class="scroll-left">
                        <a style="font-size:x-large;font-weight:bolder;" href="/Franchise/Register">Click to Navigate to Franchise Registration!</a>

                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="BookingChart"></div>


                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Daily Bookings</h3>

                            <p class="card-category">


                                @if (ViewBag.isBookingGrowth == null || !ViewBag.isBookingGrowth)
                                {
                                    <span style="font-size:14px" class="text-danger"><i class="fa fa-long-arrow-down"></i> @ViewBag.BookingGrowth % </span><span style="font-size:14px">decrease in daily sales.</span>
                                }
                                else
                                {
                                    <span style="font-size:14px" class="text-success"><i class="fa fa-long-arrow-up"></i> @ViewBag.BookingGrowth % </span><span style="font-size:14px">increase in daily sales.</span>

                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-ticket"><b> New Bookings added today : @ViewBag.TodayBooking</b></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="PaymentChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Payments Received</h3>
                            <p class="card-category">
                                @if (ViewBag.isPaymentGrowth == null || !ViewBag.isPaymentGrowth)
                                {
                                    <span style="font-size:14px" class="text-danger"><i class="fa fa-long-arrow-down"></i> @ViewBag.PaymentGrowth % </span><span style="font-size:14px">decrease in payments today.</span>
                                }
                                else
                                {
                                    <span style="font-size:14px" class="text-success"><i class="fa fa-long-arrow-up"></i> @ViewBag.PaymentGrowth % </span><span style="font-size:14px">increase in payments today.</span>

                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-dollar"><b> New Payments added today : @ViewBag.TodayPaymentCount</b></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="IBOChart"></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">New IBO</h3>
                            <p class="card-category">
                                @if (ViewBag.isIBOGrowth == null || !ViewBag.isIBOGrowth)
                                {
                                    <span style="font-size:14px" class="text-danger"><i class="fa fa-long-arrow-down"></i> @ViewBag.IBOGrowth % </span><span style="font-size:14px">decrease in IBO today.</span>
                                }
                                else
                                {
                                    <span style="font-size:14px" class="text-success"><i class="fa fa-long-arrow-up"></i> @ViewBag.IBOGrowth % </span><span style="font-size:14px">increase in IBO today.</span>
                                }
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-users"><b> New IBO added today : @ViewBag.TodayIBOCount</b></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">PAYMENTS DUE IN 7 DAYS</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-info">
                                <th>PROJECT</th>
                                @*<th>TOWER</th>*@
                                <th style="width:100px;">FLAT</th>
                                <th>CUSTOMER</th>
                                <th>IBO</th>
                                </thead>
                                <tbody>
                                    @if (ViewBag.PaymentDuesCount > 0)
                                    {
                                        foreach (var item in ViewBag.PaymentDues)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TowerName-@item.FlatName
                                                </td>
                                                <td>
                                                    @item.CustomerName
                                                </td>
                                                <td>
                                                    @item.AgentName
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                No Payment Dues in 7 days
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">TOP 5 IBO IN LAST 30 DAYS</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                <th>ID</th>
                                <th>NAME</th>
                                <th>BOOKINGS</th>

                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.TopIBO)
                                    {
                                        <tr>
                                            <td>
                                                @item.AgentID
                                            </td>
                                            <td>
                                                @item.AgentName
                                            </td>
                                            <td>
                                                @item.BookingsCount
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-success">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">NEW BOOKINGS</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-success">
                                <th>PROJECT</th>
                                <th>FLAT</th>
                                <th>IBO</th>
                                <th>DATE</th>
                                </thead>
                                <tbody>

                                    @foreach (var item in ViewBag.RecentBooking)
                                    {
                                        <tr>
                                            <td>
                                                @item.ProjectName
                                            </td>

                                            <td>
                                                @item.TowerName-@item.FlatName
                                            </td>
                                            <td>
                                                @item.AgentName
                                            </td>
                                            <td>
                                                @Convert.ToDateTime(@item.CreatedDate).Date.ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title"><b style="font-size:14px;font-weight:800">NEW IBO</b></h4>
                            <p class="card-category">Last Updated @DateTime.Now</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-danger">
                                <th>ID</th>
                                <th>NAME</th>
                                <th>DATE</th>

                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.RecentAgents)
                                    {
                                        <tr>
                                            <td>
                                                @item.AgentCode
                                            </td>
                                            <td>
                                                @item.AgentName
                                            </td>
                                            <td>
                                                @Convert.ToDateTime(@item.CreatedDate).Date.ToString("dd/MM/yyyy")
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-rose">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PROJECT WISE TRANSACTIONS</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;"  class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-rose">
                                    <th>PROJECT</th>
                                    <th>SALES AMOUNT</th>
                                    <th>COLLECTED AMOUNT</th>
                                    <th>BALANCE AMOUNT</th>
                                    <th>SCHEMEWISE DUE</th>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.ProjectTransactions)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TotalSalesAmount
                                                </td>
                                                <td>
                                                    @item.CollectedAmount
                                                </td>
                                                <td>
                                                    @item.BalanceAmount
                                                </td>
                                                <td>
                                                    @item.SchemeWiseDue
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PROJECT WISE AREA DETAILS</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;"  class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                    <th>PROJECT</th>
                                    <th>TOTAL SFT</th>
                                    <th>SOLD SFT</th>
                                    <th>REMAINING SFT</th>
                                    
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.AreaRem)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TotalSft
                                                </td>
                                                <td>
                                                    @item.SoldSft
                                                </td>
                                                <td>
                                                    @item.RemSft
                                                </td>
                                                
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-info">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">NEW PAYMENTS</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-info">
                                    <th>PROJECT</th>
                                    <th>FLAT</th>
                                    <th>AMOUNT</th>
                                    @*<th>DATE</th>*@
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.RecentPayments)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>

                                                <td>
                                                    @item.TowerName-@item.FlatName
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.BookingAmount
                                                </td>

                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">RECENT EXPENSES</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>PAID TO</th>
                                    <th>PARTICULARS</th>
                                    <th>AMOUNT</th>
                                    @*<th>DATE</th>*@
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.RecentExpenses)
                                        {
                                            <tr>
                                                <td>
                                                    @item.PaidTo.ToUpper()
                                                </td>
                                                <td>
                                                    @item.Particulars.ToUpper()
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.Amount
                                                </td>
                                                @*<td>
                                                @Convert.ToDateTime(@item.CreatedDate).Date.ToString("dd/MM/yyyy")
                                            </td>*@

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PAST DUE DATE(NO PAYMENT RECEIVED)</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;" class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-danger">
                                    <th>PROJECT</th>
                                    <th>TOWER</th>
                                    <th>FLAT</th>
                                    <th>AGENT</th>
                                    <th>DUE AMOUNT</th>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.PastDue)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.TowerName
                                                </td>
                                                <td>
                                                    @item.FlatName
                                                </td>
                                                <td>
                                                    @item.AgentName
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.DueAmount
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title"><b style="font-size:14px;font-weight:800">PROJECT CATEGORY WISE EXPENSES</b></h4>
                                <p class="card-category">Last Updated @DateTime.Now</p>
                            </div>
                            <div style="overflow-y:scroll;height:400px;" class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                    <th>PROJECT</th>
                                    <th>EXPENSE CATEGORY</th>
                                    <th>EXPENSE AMOUNT</th>
                                   
                                    </thead>
                                    <tbody>

                                        @foreach (var item in ViewBag.ProjectCategoryWiseExpenses)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ProjectName
                                                </td>
                                                <td>
                                                    @item.SubCategory
                                                </td>
                                                <td>
                                                    <b style="font-size:12px">&#8377;</b>.@item.ExpenseAmount
                                                </td>
                                                
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<style>
    tr td {
        font-weight: bold !important;
        font-size: 12px !important;
    }

    th {
        font-weight: bold !important;
        font-size: 12px !important;
    }
</style>
<script>
    Charts();

    function Charts() {

        dataBookingChart = {
            labels: @ViewBag.xBookingGraph,
            series: [
                    @ViewBag.yBookingGraph
            ]
        };
        var str = '@ViewBag.yBookingGraph'
        var max1 = Math.max(...str.match(/\d+/g).map(Number));

        optionsBookingChart = {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0
            }),
            low: 0,
            high: max1+2,
            chartPadding: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
            },
        }

        var BookingChart = new Chartist.Line('#BookingChart', dataBookingChart, optionsBookingChart);


        var dataPaymentChart = {
            labels: @ViewBag.xPaymentGraph,
            series: [
                @ViewBag.yPaymentGraph
            ],
            distributeSeries: true
        };

        var str = '@ViewBag.yPaymentGraph'
        var max2 = Math.max(...str.match(/\d+/g).map(Number));
        var optionsPaymentChart = {
            axisX: {
                showGrid: true
            },
            low: 0,
            high: max2+2,
            chartPadding: {
                top: 0,
                right: 5,
                bottom: 0,
                left: 0
            }
        };
        var responsiveOptions = [
            ['screen and (max-width: 640px)', {
                seriesBarDistance: 5,
                axisX: {
                    labelInterpolationFnc: function (value) {
                        return value[0];
                    }
                }
            }]
        ];
        var PaymentChart = Chartist.Bar('#PaymentChart', dataPaymentChart, optionsPaymentChart);


        dataIBOChart = {
            labels: @ViewBag.xIBOGraph,
            series: [
                @ViewBag.yIBOGraph
            ]
        };

        var str = '@ViewBag.yIBOGraph'
        var max3 = Math.max(...str.match(/\d+/g).map(Number));


        optionsIBOChart = {
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0
            }),
            low: 0,
            high: max3+2,
            chartPadding: {
                top: 0,
                right: 0,
                bottom: 0,
                left: 0
            }
        }

        var IBOChart = new Chartist.Line('#IBOChart', dataIBOChart, optionsIBOChart);

    }










</script>