@model ModelLayer.Dashboard
@{
    ViewBag.Dashboard = "active";
    ViewBag.BookingDashboard = "active";
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="myModal" role="dialog">
    <div style="width:800px;padding-bottom:40px" class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Flat Plan</h4>
            </div>
            <div class="modal-body">
                <div class="imageContainer">
                    <img id="img01" class="img-responsive" />
                </div>
            </div>
            <div class="modal-footer">
                @if (this.User.IsInRole("Admin") || this.User.IsInRole("DataEntry"))
                {
                    <button onclick="GoToBooking()" type="button" class="btn btn-default orangebg pull-right" data-dismiss="modal">BOOK/MODIFY</button>
                }
            </div>
        </div>

    </div>
</div>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-1 col-xs">
            <h3 align="center" style="margin-bottom:2px">DASHBOARD</h3>
            <div class="specialLine"></div>
        </div>

    </div>

    @*<button id="myBtn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Launch demo modal</button>*@
    <div class="row">
        <hr />
    </div>

    <div class="row" style="padding-top:10px">
        @Html.LabelFor(m => m.Project, new { @class = "col-md-2" })
        @Html.DropDownListFor(model => model.Project, TempData["ProjectList"] as SelectList, "--Select Project--", new { @class = "textbox-control col-md-3 col-xs" })
        @Html.LabelFor(m => m.Tower, new { @class = "col-md-2" })
        @Html.DropDownListFor(model => model.Tower, new SelectList(" "), "--Select Tower--", new { @class = "textbox-control col-md-3 col-xs" })
    </div>
    @*<div class="row">
            <br />
            <div class="col-md-7 no-pad">
                <button type="submit" id="submitbtn" value="New" class="btn btn-default orangebg pull-right"><i class="fa fa-book"></i>SHOW FLAT STATUS</button>
            </div>
        </div>*@
    <br />
    <br />

    <div id="labels" class="row" style="display:none">
        <br />
        <div class="col-md-3">
            <div style="background:linear-gradient(to bottom,ForestGreen, white)" class="seat"><label for="4C"> OPEN </label> </div>
        </div>
        <div class="col-md-3">


            @*<div style="background:linear-gradient(to bottom,#BD4F6C, white)" class="seat"><label for="4C"> SOLD </label> </div>*@
            <div style="background-color: #bd4f6c;background-image:linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);" class="seat"><label for="4C"> SOLD </label> </div>
        </div>
        <div class="col-md-3">
            <div style="background:linear-gradient(to bottom,#7AD7F0, white)" class="seat"><label for="4C"> MORTGAGE </label> </div>
        </div>
        <div class="col-md-3">
            <div style="background:linear-gradient(to bottom,#FFD700, white)" class="seat"><label for="4C"> PROGRESS/HOLD </label> </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div id="bookingDashboard" class="col-md-8" >

            <br />
            <br />
            <div id="bookingstatus"></div>

        </div>
    </div>
</div>

<script>
   $(document).ready(function () {

    //$("#myBtn").click(function(){
    //     $('#myModal').modal('show');
    //});
});
    $("#Project").change(function () {
        $.get("/Booking/GetTowers", { ProjectId: $("#Project").val() }, function (data) {
            $("#Tower").empty();
            $("#Tower").append("<option value='" + 0 + "'>" + "--Select Tower--" + "</option>")

            $.each(data, function (index, row) {
                $("#Tower").append("<option value='" + row.TowerID + "'>" + row.TowerName + "</option>")
            });
        });
    });
    var FloorNo;
    var html = '';
    var flatNo;
    var bookingStatus;
    //var Facing;
    //var Sqft;
    //var Bhk;
    $("#Tower").change(function () {
        $('#bookingstatus').html('');
        $.get("/Booking/GetAllFlats", { TowerId: $("#Tower").val() }, function (data) {
            $.each(data, function (index, row) {

                if (index == 0) {
                    FloorNo = row.Floor;
                    html = '<div class="cinema-seats left"> <div class="cinema-row row-1">';

                }


                if (index == 0) {
                    FloorNo = row.Floor;
                    html = '<div class="cinema-seats left"> <div class="cinema-row row-1">';
                }
                if (FloorNo != row.Floor) {
                    FloorNo = row.Floor;
                    html = html + '</div>'
                    html = html + '<div class="cinema-row row-' + row.Floor + '">';
                }
                //var Facing = row.Facing;
                //var Sqft = row.Sft;
                //var Bhk = row.Bhk;
                //alert(row.Facing);
                if (row.BookingStatus == 'O') {

                    html = html + '<div style="background:linear-gradient(to bottom,ForestGreen, white)" onclick="ShowBookingScreen(\'' + row.FlatID + '\',\'' + row.FlatPlanURL + '\',\'' + row.BookingStatus + '\''+')"  class="seat"><label for="4C"> ' + row.FlatName + '</label> </div>';
                }
                if (row.BookingStatus == 'S') {
                    html = html + '<div style="background-color: #bd4f6c;background-image:linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);" onclick="ShowBookingScreen(\'' + row.FlatID + '\',\'' + row.FlatPlanURL + '\',\'' + row.BookingStatus + '\''+')"  class="seat"><label for="4C"> ' + row.FlatName + '</label> </div>';
                }
                if (row.BookingStatus == 'M') {
                    html = html + '<div style="background:linear-gradient(to bottom,#7AD7F0, white);"   class="seat"><label for="4C"> ' + row.FlatName + '</label> </div>';
                }
                if (row.BookingStatus == 'H' || row.BookingStatus =='P') {
                    html = html + '<div style="background:linear-gradient(to bottom,#FFD700, white);" onclick="ShowBookingScreen(\'' + row.FlatID + '\',\'' + row.FlatPlanURL + '\',\'' + row.BookingStatus + '\''+')" class="seat"><label for="4C"> ' + row.FlatName + '</label> </div>';
                }
                //html = html + '<div class="seat"><label for="4C"> ' + row.FlatName + '</label> </div>';
                //if (index == 1) {
                //    var html = '<div class="cinema-seats left"> <div class="cinema-row row-1"> <div class="seat"><label for="4C"> 101</label></div><div class="seat"> <label for="4C"> 102</label></div><div style="background:linear-gradient(to bottom,ForestGreen, white);" class="seat"> <label for="4C"> 103</label> </div><div class="seat"><label for="4C"> 104</label></div><div class="seat"><label for="4C"> 105</label></div><div style="background:linear-gradient(to bottom,yellow, white);" class="seat"><label for="4C"> 106</label></div></div>'
                //    $('#bookingstatus').html(html);
                //}


            });
            $('#bookingstatus').html(html);
            $('#labels').show();
        });
    });

    function ShowBookingScreen(FlatID, FlatPlanURL,BookingStatus) {
        flatNo = FlatID;
        bookingStatus = BookingStatus;
        var imgBasePath = "../../Content/Images/";
        var fullPath = imgBasePath + FlatPlanURL;
        $('#img01').attr("src", fullPath);
        $('#myModal').modal('show');
        //window.location.href ="/Booking/New?ProjectID=" + $("#Project").val() + "&TowerID=" +  $("#Tower").val()+ "&FlatID=" + FlatID;
    }

    function GoToBooking() {
        window.location.href = "/Booking/New?ProjectID=" + $("#Project").val() + "&TowerID=" + $("#Tower").val() + "&FlatID=" + flatNo + "&BookingStatus=" + bookingStatus;
    }

    function ShowFlatDetails(Facing, Sft, Bhk, Flat) {
        //swal({
        //    buttons: ["Book"],
        //});
        //        swal("Flat Info!", 'Flat No : ' + Flat + '\n' + 'Facing : ' + Facing + '\n' + 'Sqft : ' + Sft + '\n' + 'BHK :' + Bhk, "success",{
        //  button: {
        //    text: "Hey ho!",
        //  },
        //});
        //swal({
        //    text: 'Flat No : ' + Flat + '\n' + 'Facing : ' + Facing + '\n' + 'Sqft : ' + Sft + '\n' + 'BHK :' + Bhk,
        //    buttons: ["Select Patient?", "Speed Case?"],
        //});
        //        Swal.fire(
        //  'Good job!',
        //  'You clicked the button!',
        //  'success'
        //)
        //swal({
        //    title: "Flat Info",
        //    text: 'Flat No : ' + Flat + '\n' + 'Facing : ' + Facing + '\n' + 'Sqft : ' + Sft + '\n' + 'BHK :' + Bhk,
        //    //type: "info",
        //    //showCancelButton: true,
        //    confirmButtonColor: 'ForestGreen',
        //    confirmButtonText: 'Book!',
        //    cancelButtonText: "Cancel!",
        //    closeOnConfirm: false,
        //    closeOnCancel: false
        //})
        //$.toastr({
        //    heading: 'Positioning',
        //    text: 'Use the predefined ones, or specify a custom object',
        //    position: 'middle-center',
        //    stack: false,
        //    hideAfter: false
        //})

        //int Project = parseInt($("#Project").val())
        @*//window.location.href = '@Url.Action("New", "Booking",new { ProjectID = Project, TowerID =})';*@


     @*$.ajax({
                    type: "GET",
                    url: '@Url.Action("New", "Booking")',
         contentType: "application/json; charset=utf-8",
         data: {
             ProjectID: $("#Project").val(), TowerID : $("#Tower").val(),FlatID : 205},
                    dataType: "json",
                    success: function (cities) {

                    }
                });*@


        window.location.href ="/Booking/New?ProjectID=" + $("#Project").val() + "&TowerID=" +  $("#Tower").val()+ "&FlatID=" + 535;

        toastr.options = {
            //"closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": 0,
            "extendedTimeOut": 0,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
        }

        toastr.success('', "Clear itself?<br /><br /><button type='button' class='btn'>Book</button>");

    };

</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });



</script>
<style>
    /*.imageContainer > img:hover {
  width: 1024px;
  height: 968px;
}*/


</style>