@model ModelLayer.AgentDropdown
@{
    ViewBag.Title = "IBO Mapping";
    ViewBag.AgentMapping = "active";
    ViewBag.Admin = "active";
}
<link href="~/Content/icon_font.css" rel="stylesheet" />
<link href="~/Content/jquery.transfer.css" rel="stylesheet" />
<script src="~/Scripts/jquery.transfer.js"></script>
<style>

    @@media (min-width: 768px) {

        .container {
            margin-left: 350px;
        }

        .jumbotron {
            width: 1700px;
        }
    }
</style>
<style>
    .transfer-demo {
        width: 640px;
        height: 400px;
        margin: 0 auto;
    }
    label{
        text-align: left !important;
       
    }
</style>
<div class="jumbotron" style="padding-bottom:10px;margin-bottom:10px">

    <div class="row">
        <div class="col-md-12 col-xs" style="margin-top:0px">
            <h3 style="margin-top:0px;margin-bottom:4px" align="left">IBO RELATIONS</h3>
            <div class="specialLine col-md-1"></div>
        </div>

    </div>
    <hr />
    <br />
    <div class="row" style="padding-top:10px">
        @Html.LabelFor(m => m.AgentID, new { @class = "col-md-1" })
        @Html.DropDownListFor(model => model.AgentID, TempData["AgentList"] as SelectList, "--Select Agent--", new { @class = "textbox-control col-md-3 col-xs" })
        <div id="radiodiv" class="col-md-4 col-xs">
            @*@Html.Label("YEAR");
                @Html.RadioButtonFor(m => m.TimePeriod, "1",new { @class = "checker" })
                MONTH
                @Html.RadioButtonFor(m => m.TimePeriod, "2")
                DAY
                @Html.RadioButtonFor(m => m.TimePeriod, "3")*@
            <div class="radios">
                <div class="radio" style="margin-top:0px">
                    <input type="radio" id="radio1" value="1" name="radio" checked="checked">
                    <label for="radio1">
                        <div class="checker"></div>
                        Parent
                    </label>
                </div>

                <div class="radio">
                    <input type="radio" id="radio2" value="2" name="radio">
                    <label for="radio2">
                        <div class="checker"></div>
                        Child
                    </label>
                </div>


            </div>
        </div>
    </div>
    <div id="main">
        <div class="row" style="margin-top: 40px;">
            <div class="col">


                <h4>IBO PARENT/CHILD SELECTION</h4>

                <hr />
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px;">
            <div class="col">

                <div id="transfer2" class="transfer-demo"></div>
                <br>
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <button id="Update" class="btn btn-primary">Update Relationship</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>



</script>


<script>

    var agents;
    $("#Update").click(function () {

        console.log(agents.getSelectedItems());
        //alert(agentList);
        var agentList = [];
        var selectedAgents = agents.getSelectedItems();
        if (selectedAgents == null) {
            selectedAgents = "";
        }
        else {
            if (selectedAgents.length > 0) {
                
                for (var i = 0; i < selectedAgents.length; i++) {
                    agentList.push(selectedAgents[i].AgentID);
                    //Do something
                }
            }
        }
        $.ajax({
            type: "GET",
            url: '@Url.Action("UpdateMapping", "Agent")',
            contentType: "application/json; charset=utf-8",
            data: { AgentID: $("#AgentID").val(), option: $('input[type=radio][name=radio]:checked').val(), agentList: agentList.join(',') },
            dataType: "json",
            success: function (result) {

                toastr.success('IBO Mapping Updated successfully');

            },

            });

    });


    $("#AgentID").change(function () {
        AgentChange();
    });

    $('input[type=radio][name=radio]').change(function () {

        AgentChange();
    });
    //$("#main").hide();
   
    function AgentChange() {
        var html = ''
        $("#transfer2").html('');
        $.get("/Agent/GetMapping", { AgentID: $("#AgentID").val(), option: $('input[type=radio][name=radio]:checked').val() }, function (data) {
            //HideDiv();
            //html = '<select multiple="multiple" size="10" name="duallistbox_demo1[]" title="duallistbox_demo1[]">'
            
            var settings2 = {
                "dataArray": data,
                "itemName": "AgentName",
                "valueName": "AgentID",
                "callable": function (items) {
                    console.dir(items)
                }
            };
            agents = $("#transfer2").transfer(settings2);
           
        });
    };
</script>

